In [1323]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 500)

pd.set_option('display.max_colwidth', 1)
#to show all values in row

In [1324]:
df_superstore = pd.read_csv('superstore.csv')
df_superstore

,Category,City,Country,Customer.ID,Customer.Name,Discount,Market,记录数,Order.Date,Order.ID,Order.Priority,Product.ID,Product.Name,Profit,Quantity,Region,Row.ID,Sales,Segment,Ship.Date,Ship.Mode,Shipping.Cost,State,Sub.Category,Year,Market2,weeknum
0,Office Supplies,Los Angeles,United States,LS-172304,Lycoris Saunders,0.0,US,1,2011-01-07 00:00:00.000,CA-2011-130813,High,OFF-PA-10002005,Xerox 225,9.3312,3,West,36624,19,Consumer,2011-01-09 00:00:00.000,Second Class,4.37,California,Paper,2011,North America,2
1,Office Supplies,Los Angeles,United States,MV-174854,Mark Van Huff,0.0,US,1,2011-01-21 00:00:00.000,CA-2011-148614,Medium,OFF-PA-10002893,"Wirebound Service Call Books, 5 1/2"" x 4""",9.2928,2,West,37033,19,Consumer,2011-01-26 00:00:00.000,Standard Class,0.94,California,Paper,2011,North America,4
2,Office Supplies,Los Angeles,United States,CS-121304,Chad Sievert,0.0,US,1,2011-08-05 00:00:00.000,CA-2011-118962,Medium,OFF-PA-10000659,"Adams Phone Message Book, Professional, 400 Message Capacity, 5 3/6” x 11”",9.8418,3,West,31468,21,Consumer,2011-08-09 00:00:00.000,Standard Class,1.81,California,Paper,2011,North America,32
3,Office Supplies,Los Angeles,United States,CS-121304,Chad Sievert,0.0,US,1,2011-08-05 00:00:00.000,CA-2011-118962,Medium,OFF-PA-10001144,Xerox 1913,53.2608,2,West,31469,111,Consumer,2011-08-09 00:00:00.000,Standard Class,4.59,California,Paper,2011,North America,32
4,Office Supplies,Los Angeles,United States,AP-109154,Arthur Prichep,0.0,US,1,2011-09-29 00:00:00.000,CA-2011-146969,High,OFF-PA-10002105,Xerox 223,3.1104,1,West,32440,6,Consumer,2011-10-03 00:00:00.000,Standard Class,1.32,California,Paper,2011,North America,40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,Office Supplies,Los Angeles,United States,AM-103604,Alice McCarthy,0.2,US,1,2014-12-03 00:00:00.000,CA-2014-109701,High,OFF-BI-10000632,Satellite Sectional Post Binders,22.5732,2,West,33646,69,Corporate,2014-12-04 00:00:00.000,Same Day,5.15,California,Binders,2014,North America,49
51286,Office Supplies,Los Angeles,United States,AM-103604,Alice McCarthy,0.2,US,1,2014-12-03 00:00:00.000,CA-2014-109701,High,OFF-BI-10004187,Staples,3.1584,6,West,33645,9,Corporate,2014-12-04 00:00:00.000,Same Day,0.44,California,Binders,2014,North America,49
51287,Office Supplies,Los Angeles,United States,HR-147704,Hallie Redmond,0.2,US,1,2014-12-18 00:00:00.000,CA-2014-106964,Medium,OFF-BI-10000320,GBC Plastic Binding Combs,4.2804,2,West,32321,12,Home Office,2014-12-21 00:00:00.000,First Class,0.31,California,Binders,2014,North America,51
51288,Office Supplies,Los Angeles,United States,RM-196754,Robert Marley,0.2,US,1,2014-12-25 00:00:00.000,CA-2014-145219,Critical,OFF-BI-10001670,Vinyl Sectional Post Binders,33.9300,3,West,35917,90,Home Office,2014-12-26 00:00:00.000,First Class,15.95,California,Binders,2014,North America,52
51289,Office Supplies,Los Angeles,United States,FH-143654,Fred Hopkins,0.2,US,1,2014-12-26 00:00:00.000,CA-2014-121398,Medium,OFF-BI-10001718,GBC DocuBind P50 Personal Binding Machine,51.8238,3,West,37371,154,Corporate,2014-12-30 00:00:00.000,Standard Class,9.59,California,Binders,2014,North America,52

# Data Cleaning

In [1326]:
#Checking duplicated values

df_superstore.duplicated().sum()

0

In [1327]:
#Checking null values

df_superstore.isna().sum()

Category          0
City              0
Country           0
Customer.ID       0
Customer.Name     0
Discount          0
Market            0
记录数               0
Order.Date        0
Order.ID          0
Order.Priority    0
Product.ID        0
Product.Name      0
Profit            0
Quantity          0
Region            0
Row.ID            0
Sales             0
Segment           0
Ship.Date         0
Ship.Mode         0
Shipping.Cost     0
State             0
Sub.Category      0
Year              0
Market2           0
weeknum           0
dtype: int64

In [1328]:
#Renaiming columns

df_superstore.columns = df_superstore.columns.str.lower()\
                                                    .str.replace(' ', '_')\
                                                    .str.replace('.', '_')\
                                                    .str.replace('order_id', 'order_number')

/var/folders/1_/fmystfg15lbf3t1n1mmy4psw0000gn/T/ipykernel_64323/2293939430.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  .str.replace('.', '_')\

In [1329]:
#Removing some columns

df_superstore.drop(['记录数', 'year', 'market2', 'weeknum', 'row_id'], axis=1, inplace=True)
df_superstore.head(1)

,category,city,country,customer_id,customer_name,discount,market,order_date,order_number,order_priority,product_id,product_name,profit,quantity,region,sales,segment,ship_date,ship_mode,shipping_cost,state,sub_category
0,Office Supplies,Los Angeles,United States,LS-172304,Lycoris Saunders,0.0,US,2011-01-07 00:00:00.000,CA-2011-130813,High,OFF-PA-10002005,Xerox 225,9.3312,3,West,19,Consumer,2011-01-09 00:00:00.000,Second Class,4.37,California,Paper

### < Convert object columns to datetime64

In [1331]:
df_superstore.dtypes

category          object
city              object
country           object
customer_id       object
customer_name     object
discount          float64
market            object
order_date        object
order_number      object
order_priority    object
product_id        object
product_name      object
profit            float64
quantity          int64
region            object
sales             int64
segment           object
ship_date         object
ship_mode         object
shipping_cost     float64
state             object
sub_category      object
dtype: object

In [1332]:
#Cleaning column "order_date"

df_superstore["order_date"] = df_superstore["order_date"].str.split().str[0]
df_superstore["order_date"] = pd.to_datetime(df_superstore["order_date"], format="%Y/%m/%d")

#To pull year from data: df_superstore['order_date'].dt.year

In [1333]:
#Cleaning column "ship_date"

df_superstore["ship_date"] = df_superstore["ship_date"].str.split().str[0]
df_superstore["ship_date"] = pd.to_datetime(df_superstore["ship_date"], format="%Y/%m/%d")

df_superstore.head(1)

,category,city,country,customer_id,customer_name,discount,market,order_date,order_number,order_priority,product_id,product_name,profit,quantity,region,sales,segment,ship_date,ship_mode,shipping_cost,state,sub_category
0,Office Supplies,Los Angeles,United States,LS-172304,Lycoris Saunders,0.0,US,2011-01-07,CA-2011-130813,High,OFF-PA-10002005,Xerox 225,9.3312,3,West,19,Consumer,2011-01-09,Second Class,4.37,California,Paper

In [1334]:
df_superstore.dtypes

category          object
city              object
country           object
customer_id       object
customer_name     object
discount          float64
market            object
order_date        datetime64[ns]
order_number      object
order_priority    object
product_id        object
product_name      object
profit            float64
quantity          int64
region            object
sales             int64
segment           object
ship_date         datetime64[ns]
ship_mode         object
shipping_cost     float64
state             object
sub_category      object
dtype: object

In [1335]:
df_superstore.shape

(51290, 22)

### Convert object columns to datetime64 >

In [1337]:
df_superstore.loc[df_superstore['order_number'] == 'CA-2014-121398']

,category,city,country,customer_id,customer_name,discount,market,order_date,order_number,order_priority,product_id,product_name,profit,quantity,region,sales,segment,ship_date,ship_mode,shipping_cost,state,sub_category
344,Office Supplies,Los Angeles,United States,FH-143654,Fred Hopkins,0.0,US,2014-12-26,CA-2014-121398,Medium,OFF-ST-10002756,"Tennsco Stur-D-Stor Boltless Shelving, 5 Shelves, 24"" Deep, Sand",2.7062,2,West,271,Corporate,2014-12-30,Standard Class,16.73,California,Storage
51289,Office Supplies,Los Angeles,United States,FH-143654,Fred Hopkins,0.2,US,2014-12-26,CA-2014-121398,Medium,OFF-BI-10001718,GBC DocuBind P50 Personal Binding Machine,51.8238,3,West,154,Corporate,2014-12-30,Standard Class,9.59,California,Binders

In [1338]:
df_superstore.loc[df_superstore['order_number'] == 'CA-2014-109701']

,category,city,country,customer_id,customer_name,discount,market,order_date,order_number,order_priority,product_id,product_name,profit,quantity,region,sales,segment,ship_date,ship_mode,shipping_cost,state,sub_category
115,Office Supplies,Los Angeles,United States,AM-103604,Alice McCarthy,0.0,US,2014-12-03,CA-2014-109701,High,OFF-PA-10003724,"Wirebound Message Book, 4 per Page",5.3214,2,West,11,Corporate,2014-12-04,Same Day,1.77,California,Paper
179,Office Supplies,Los Angeles,United States,AM-103604,Alice McCarthy,0.0,US,2014-12-03,CA-2014-109701,High,OFF-AR-10001868,Prang Dustless Chalk Sticks,5.0400,6,West,10,Corporate,2014-12-04,Same Day,0.23,California,Art
241,Office Supplies,Los Angeles,United States,AM-103604,Alice McCarthy,0.0,US,2014-12-03,CA-2014-109701,High,OFF-AP-10002765,Fellowes Advanced Computer Series Surge Protectors,22.2516,3,West,79,Corporate,2014-12-04,Same Day,8.23,California,Appliances
51285,Office Supplies,Los Angeles,United States,AM-103604,Alice McCarthy,0.2,US,2014-12-03,CA-2014-109701,High,OFF-BI-10000632,Satellite Sectional Post Binders,22.5732,2,West,69,Corporate,2014-12-04,Same Day,5.15,California,Binders
51286,Office Supplies,Los Angeles,United States,AM-103604,Alice McCarthy,0.2,US,2014-12-03,CA-2014-109701,High,OFF-BI-10004187,Staples,3.1584,6,West,9,Corporate,2014-12-04,Same Day,0.44,California,Binders

# < Creating new columns for creating DataBase

### 'oreder_id'

In [1341]:
df_superstore['cum_count'] = df_superstore.groupby('order_number').cumcount() + 1

In [1356]:
df_superstore['order_id'] = df_superstore['order_number'] + '_' + df_superstore['cum_count'].astype(str)
df_superstore.head()

,category,city,country,customer_id,customer_name,discount,market,order_date,order_number,order_priority,product_id,product_name,profit,quantity,region,sales,segment,ship_date,ship_mode,shipping_cost,state,sub_category,cum_count,order_id
0,Office Supplies,Los Angeles,United States,LS-172304,Lycoris Saunders,0.0,US,2011-01-07,CA-2011-130813,High,OFF-PA-10002005,Xerox 225,9.3312,3,West,19,Consumer,2011-01-09,Second Class,4.37,California,Paper,1,CA-2011-130813_1
1,Office Supplies,Los Angeles,United States,MV-174854,Mark Van Huff,0.0,US,2011-01-21,CA-2011-148614,Medium,OFF-PA-10002893,"Wirebound Service Call Books, 5 1/2"" x 4""",9.2928,2,West,19,Consumer,2011-01-26,Standard Class,0.94,California,Paper,1,CA-2011-148614_1
2,Office Supplies,Los Angeles,United States,CS-121304,Chad Sievert,0.0,US,2011-08-05,CA-2011-118962,Medium,OFF-PA-10000659,"Adams Phone Message Book, Professional, 400 Message Capacity, 5 3/6” x 11”",9.8418,3,West,21,Consumer,2011-08-09,Standard Class,1.81,California,Paper,1,CA-2011-118962_1
3,Office Supplies,Los Angeles,United States,CS-121304,Chad Sievert,0.0,US,2011-08-05,CA-2011-118962,Medium,OFF-PA-10001144,Xerox 1913,53.2608,2,West,111,Consumer,2011-08-09,Standard Class,4.59,California,Paper,2,CA-2011-118962_2
4,Office Supplies,Los Angeles,United States,AP-109154,Arthur Prichep,0.0,US,2011-09-29,CA-2011-146969,High,OFF-PA-10002105,Xerox 223,3.1104,1,West,6,Consumer,2011-10-03,Standard Class,1.32,California,Paper,1,CA-2011-146969_1

### 'market_id'

In [1233]:
df_market_ids = df_superstore[['market', 'country']]
df_market_ids = df_market_ids.drop_duplicates()
df_market_ids['country_number'] = df_market_ids.groupby(['market']).cumcount() + 1
df_market_ids

       market                           country  country_number
0      US      United States                     1
3129   EU      France                            1
3216   EU      Germany                           2
3217   LATAM   El Salvador                       1
3226   LATAM   Guatemala                         2
3228   EU      Austria                           3
3232   LATAM   Nicaragua                         3
3288   EU      Belgium                           4
3298   EU      Switzerland                       5
3316   EU      Italy                             6
3317   Africa  South Africa                      1
3318   APAC    India                             1
3319   APAC    Hong Kong                         2
3321   Africa  Democratic Republic of the Congo  2
3322   LATAM   Cuba                              4
3323   EU      United Kingdom                    7
3324   EU      Spain                             8
3327   EMEA    Russia                            1
3329   APAC    China                             3
3332   Africa  Niger                             3
3333   EMEA    Qatar                             2
3334   APAC    New Zealand                       4
3335   LATAM   Mexico                            5
3339   APAC    Malaysia                          5
3346   EMEA    Poland                            3
3350   Africa  Madagascar                        4
3351   EMEA    Iraq                              4
3354   LATAM   Brazil                            6
3358   LATAM   Colombia                          7
3368   EMEA    Saudi Arabia                      5
3370   Africa  Egypt                             5
3376   EMEA    Iran                              6
3378   EMEA    Ukraine                           7
3383   APAC    Japan                             6
3394   Africa  Morocco                           6
3403   Africa  Cameroon                          7
3409   LATAM   Chile                             8
3420   Africa  Ghana                             8
3423   LATAM   Trinidad and Tobago               9
3452   Canada  Canada                            1
3460   Africa  Chad                              9
3461   Africa  Kenya                             10
3467   APAC    Bangladesh                        7
3470   EMEA    Bulgaria                          8
3482   Africa  Djibouti                          11
3486   LATAM   Uruguay                           10
3493   APAC    Singapore                         8
3527   EMEA    Czech Republic                    9
3528   Africa  Zambia                            12
3538   LATAM   Bolivia                           11
3544   Africa  Angola                            13
3549   APAC    Australia                         9
3580   Africa  Tanzania                          14
3621   EU      Norway                            9
3645   Africa  Sierra Leone                      15
3688   EMEA    Hungary                           10
3717   LATAM   Ecuador                           12
3751   EU      Finland                           10
3762   APAC    Afghanistan                       10
3816   EMEA    Uzbekistan                        11
3818   EMEA    Romania                           12
3820   EMEA    Kyrgyzstan                        13
3837   EMEA    Austria                           14
3841   EMEA    Belarus                           15
3850   EMEA    Mongolia                          16
3853   EMEA    Georgia                           17
3856   EMEA    Syria                             18
3862   EMEA    Croatia                           19
3868   EMEA    Israel                            20
3886   Africa  Liberia                           16
3892   Africa  Guinea-Bissau                     17
3899   Africa  Somalia                           18
3907   Africa  Senegal                           19
3917   Africa  Tunisia                           20
3921   Africa  Mali                              21
3925   Africa  Algeria                           22
3955   Africa  Benin                             23
3960   Africa  Ethiopia                          24
3965   Africa  Libya                             25
3974   Africa  Mozambique                        26
4002   LATAM   Guadeloupe                        13
4018   EMEA    Jordan                            21
4069   Africa  Togo                              27
4279   Africa  Cote d'Ivoire                     28
4326   APAC    Taiwan                            11
4388   LATAM   Jamaica                           14
4426   APAC    Cambodia                          12
4627   EMEA    Azerbaijan                        22
4631   Africa  Lesotho                           29
4778   EMEA    Bahrain                           23
4811   EMEA    Montenegro                        24
5025   EMEA    Moldova                           25
5062   Africa  Rwanda                            30
5223   APAC    Nepal                             13
5288   LATAM   Martinique                        15
5435   EMEA    Estonia                           26
5449   EMEA    Albania                           27
5451   EMEA    Slovakia                          28
5588   Africa  Sudan                             31
5611   Africa  Guinea                            32
5698   Africa  Republic of the Congo             33
5740   Africa  Namibia                           34
5838   APAC    Sri Lanka                         14
5965   Africa  Central African Republic          35
6091   Africa  Eritrea                           36
6273   EMEA    Lebanon                           29
6295   EMEA    Bosnia and Herzegovina            30
6341   LATAM   Barbados                          16
7113   LATAM   Paraguay                          17
8012   Africa  Mauritania                        37
9061   Africa  Swaziland                         38
9463   Africa  Gabon                             39
9626   EMEA    Armenia                           31
9854   EMEA    Slovenia                          32
13204  EMEA    Macedonia                         33
15987  Africa  Equatorial Guinea                 40
20668  Africa  South Sudan                       41
22329  Africa  Burundi                           42
29302  EMEA    Turkey                            34
29484  Africa  Nigeria                           43
29611  EMEA    Turkmenistan                      35
29614  EMEA    Kazakhstan                        36
29621  EMEA    Lithuania                         37
29630  EMEA    Yemen                             38
29631  Africa  Uganda                            44
29633  Africa  Zimbabwe                          45
29648  EMEA    United Arab Emirates              39
29666  EU      Sweden                            11
29668  EU      Denmark                           12
29669  EU      Ireland                           13
29725  EU      Portugal                          14
29829  EU      Netherlands                       15
30074  APAC    South Korea                       15
30075  APAC    Pakistan                          16
30092  APAC    Papua New Guinea                  17
30232  APAC    Thailand                          18
30233  APAC    Myanmar (Burma)                   19
30235  APAC    Vietnam                           20
30242  APAC    Philippines                       21
30452  APAC    Indonesia                         22
30781  LATAM   Dominican Republic                18
30891  LATAM   Haiti                             19
30894  LATAM   Panama                            20
30898  LATAM   Honduras                          21
30899  LATAM   Argentina                         22
30904  LATAM   Peru                              23
30913  LATAM   Venezuela                         24
40306  EMEA    Tajikistan                        40
40590  APAC    Mongolia                          23

In [1234]:
df_superstore = pd.merge(df_superstore, df_market_ids, on=['market', 'country'], how='left')
df_superstore['market_id'] = df_superstore['market'] + '-' + df_superstore['country_number'].astype(str)
df_superstore.head(1)

,category,city,country,customer_id,customer_name,discount,market,order_date,order_number,order_priority,product_id,product_name,profit,quantity,region,sales,segment,ship_date,ship_mode,shipping_cost,state,sub_category,cum_count,order_id,country_number,market_id
0,Office Supplies,Los Angeles,United States,LS-172304,Lycoris Saunders,0.0,US,2011-01-07,CA-2011-130813,High,OFF-PA-10002005,Xerox 225,9.3312,3,West,19,Consumer,2011-01-09,Second Class,4.37,California,Paper,1,CA-2011-130813_1,1,US-1

In [1235]:
df_superstore.drop(['cum_count', 'country_number'], axis=1, inplace=True)
df_superstore.head(1)

,category,city,country,customer_id,customer_name,discount,market,order_date,order_number,order_priority,product_id,product_name,profit,quantity,region,sales,segment,ship_date,ship_mode,shipping_cost,state,sub_category,order_id,market_id
0,Office Supplies,Los Angeles,United States,LS-172304,Lycoris Saunders,0.0,US,2011-01-07,CA-2011-130813,High,OFF-PA-10002005,Xerox 225,9.3312,3,West,19,Consumer,2011-01-09,Second Class,4.37,California,Paper,CA-2011-130813_1,US-1

In [1236]:
df_superstore.nunique()

category          3
city              3636
country           147
customer_id       4873
customer_name     795
discount          27
market            7
order_date        1430
order_number      25035
order_priority    4
product_id        10292
product_name      3788
profit            24575
quantity          14
region            13
sales             2246
segment           3
ship_date         1464
ship_mode         4
shipping_cost     16877
state             1094
sub_category      17
order_id          51290
market_id         149
dtype: int64

# Creating new columns for creating DataBase >

# < Creating tables for DataBase

### < Table: customers

In [1240]:
df_customers = df_superstore[['customer_id', 'customer_name', 'segment']]
df_customers.shape

(51290, 3)

In [1241]:
df_customers.duplicated().sum()

46417

In [1242]:
df_customers.drop_duplicates(inplace=True)

/opt/anaconda3/lib/python3.11/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [1267]:
df_customers

      customer_id      customer_name      segment
0      LS-172304   Lycoris Saunders   Consumer
1      MV-174854   Mark Van Huff      Consumer
2      CS-121304   Chad Sievert       Consumer
4      AP-109154   Arthur Prichep     Consumer
5      JF-154904   Jeremy Farry       Consumer
...          ...            ...            ...
49147  RE-194054   Ricardo Emerson    Consumer
49573  PH-187904   Patricia Hirasaki  Home Office
49632  JR-157004   Jocasta Rupert     Consumer
49857  CJ-118754   Carl Jackson       Corporate
51080  AO-108104   Anthony O'Donnell  Corporate

[4873 rows x 3 columns]

In [1269]:
df_customers.loc[df_customers['customer_name'] == 'Arthur Prichep']

      customer_id   customer_name   segment
4      AP-109154   Arthur Prichep  Consumer
6265   AP-109153   Arthur Prichep  Consumer
6509   AP-109151   Arthur Prichep  Consumer
7400   AP-9151     Arthur Prichep  Consumer
9031   AP-9152     Arthur Prichep  Consumer
18274  AP-109152   Arthur Prichep  Consumer

In [1271]:
df_customers.duplicated(subset='customer_id').sum()

0

In [1273]:
df_superstore.loc[df_superstore['customer_name'] == 'Arthur Prichep']

,category,city,country,customer_id,customer_name,discount,market,order_date,order_number,order_priority,product_id,product_name,profit,quantity,region,sales,segment,ship_date,ship_mode,shipping_cost,state,sub_category,order_id,market_id
4,Office Supplies,Los Angeles,United States,AP-109154,Arthur Prichep,0.00,US,2011-09-29,CA-2011-146969,High,OFF-PA-10002105,Xerox 223,3.1104,1,West,6,Consumer,2011-10-03,Standard Class,1.320,California,Paper,CA-2011-146969_1,US-1
129,Office Supplies,Los Angeles,United States,AP-109154,Arthur Prichep,0.00,US,2011-11-11,CA-2011-105270,Low,OFF-AR-10003156,50 Colored Long Pencils,7.9248,3,West,30,Consumer,2011-11-18,Standard Class,4.020,California,Art,CA-2011-105270_1,US-1
163,Office Supplies,Los Angeles,United States,AP-109154,Arthur Prichep,0.00,US,2014-04-28,CA-2014-168228,High,OFF-AR-10001725,Boston Home & Office Model 2000 Electric Pencil Sharpeners,12.2980,2,West,47,Consumer,2014-04-30,First Class,10.400,California,Art,CA-2014-168228_1,US-1
164,Office Supplies,Los Angeles,United States,AP-109154,Arthur Prichep,0.00,US,2014-04-28,CA-2014-168228,High,OFF-AR-10003373,"Boston School Pro Electric Pencil Sharpener, 1670",33.4584,4,West,124,Consumer,2014-04-30,First Class,18.300,California,Art,CA-2014-168228_2,US-1
165,Office Supplies,Los Angeles,United States,AP-109154,Arthur Prichep,0.00,US,2014-04-28,CA-2014-168228,High,OFF-AR-10000390,Newell Chalk Holder,5.6994,3,West,12,Consumer,2014-04-30,First Class,2.530,California,Art,CA-2014-168228_3,US-1
250,Office Supplies,Los Angeles,United States,AP-109154,Arthur Prichep,0.00,US,2011-09-29,CA-2011-146969,High,OFF-FA-10001561,Stockwell Push Pins,2.8776,4,West,9,Consumer,2011-10-03,Standard Class,1.290,California,Fasteners,CA-2011-146969_2,US-1
251,Office Supplies,Los Angeles,United States,AP-109154,Arthur Prichep,0.00,US,2011-09-29,CA-2011-146969,High,OFF-ST-10004340,"Fellowes Mobile File Cart, Black",16.7886,1,West,62,Consumer,2011-10-03,Standard Class,5.670,California,Storage,CA-2011-146969_3,US-1
1506,Office Supplies,Seattle,United States,AP-109154,Arthur Prichep,0.00,US,2013-12-11,CA-2013-128412,Low,OFF-AP-10000252,Harmony HEPA Quiet Air Purifiers,12.2850,3,West,35,Consumer,2013-12-18,Standard Class,3.300,Washington,Appliances,CA-2013-128412_1,US-1
1507,Office Supplies,Seattle,United States,AP-109154,Arthur Prichep,0.00,US,2013-12-11,CA-2013-128412,Low,OFF-AP-10002082,Holmes HEPA Air Purifier,22.8690,3,West,65,Consumer,2013-12-18,Standard Class,7.150,Washington,Appliances,CA-2013-128412_2,US-1
1508,Office Supplies,Seattle,United States,AP-109154,Arthur Prichep,0.00,US,2013-12-11,CA-2013-128412,Low,OFF-PA-10001125,Xerox 1988,55.7640,4,West,124,Consumer,2013-12-18,Standard Class,12.440,Washington,Paper,CA-2013-128412_3,US-1
2181,Office Supplies,Columbus,United States,AP-109154,Arthur Prichep,0.00,US,2013-04-17,US-2013-164588,Medium,OFF-AR-10003056,Newell 341,3.7236,3,South,13,Consumer,2013-04-24,Standard Class,1.000,Georgia,Art,US-2013-164588_1,US-1
2285,Office Supplies,Henderson,United States,AP-109154,Arthur Prichep,0.00,US,2013-11-04,CA-2013-168893,High,OFF-AR-10003772,Boston 16750 Black Compact Battery Pencil Sharpener,2.6250,1,South,9,Consumer,2013-11-09,Second Class,1.200,Kentucky,Art,CA-2013-168893_1,US-1
2286,Office Supplies,Henderson,United States,AP-109154,Arthur Prichep,0.00,US,2013-11-04,CA-2013-168893,High,OFF-AR-10001770,Economy #2 Pencils,2.0748,3,South,8,Consumer,2013-11-09,Second Class,1.030,Kentucky,Art,CA-2013-168893_2,US-1
2287,Office Supplies,Henderson,United States,AP-109154,Arthur Prichep,0.00,US,2013-11-04,CA-2013-168893,High,OFF-FA-10002280,Advantus Plastic Paper Clips,9.6000,4,South,20,Consumer,2013-11-09,Second Class,3.370,Kentucky,Fasteners,CA-2013-168893_3,US-1
2348,Office Supplies,Rock Hill,United States,AP-109154,Arthur Prichep,0.00,US,2011-10-24,CA-2011-113047,Critical,OFF-FA-10002763,Advantus Map Pennant Flags and Round Head Tacks,3.7920,3,South,12,Consumer,2011-10-24,Same Day,5.060,South Carolina,Fasteners,CA-2011-113047_1,US-1
6265,Office Supplies,Celaya,Mexico,AP-109153,Arthur Prichep,0.00,LATAM,2012-06-18,MX-2012-124765,Critical,OFF-EN-10003507,"Kraft Business Envelopes, Recycled",1.7200,2,North,25,Consumer,2012-06-18,Same Day,8.658,Guanajuato,Envelopes,MX-2012-124765_1,LATAM-5
6266,Office Supplies,Celaya,Mexico,AP-109153,Arthur Prichep,0.00,LATAM,2012-06-18,MX-2012-124765,Critical,OFF-FA-10004533,"Stockwell Staples, Metal",10.2600,3,North,22,Consumer,2012-06-18,Same Day,6.496,Guanajuato,Fasteners,MX-2012-124765_2,LATAM-5
6509,Office Supplies,Harbin,China,AP-109151,Arthur Prichep,0.00,APAC,2012-08-23,IN-2012-68911,High,OFF-FA-10003257,"Accos Thumb Tacks, 12 Pack",7.8000,5,North Asia,66,Consumer,2012-08-25,First Class,7.870,Heilongjiang,Fasteners,IN-2012-68911_1,APAC-3
6811,Office Supplies,Harbin,China,AP-109151,Arthur Prichep,0.00,APAC,2012-08-23,IN-2012-68911,High,OFF-LA-10000271,"Harbour Creations Shipping Labels, Alphabetical",26.4000,5,North Asia,56,Consumer,2012-08-25,First Class,11.740,Heilongjiang,Labels,IN-2012-68911_2,APAC-3
6880,Office Supplies,Shouguang,China,AP-109151,Arthur Prichep,0.00,APAC,2014-08-28,IN-2014-50473,High,OFF-LA-10000658,"Avery Shipping Labels, 5000 Label Set",8.7600,2,North Asia,24,Consumer,2014-08-29,First Class,3.270,Shandong,Labels,IN-2014-50473_1,APAC-3
7308,Office Supplies,Palmerston North,New Zealand,AP-109151,Arthur Prichep,0.00,APAC,2011-09-14,IN-2011-86572,High,OFF-FA-10001953,"Advantus Clamps, Bulk Pack",30.8400,4,Oceania,77,Consumer,2011-09-17,Second Class,10.460,Manawatu-Wanganui,Fasteners,IN-2011-86572_1,APAC-4
7309,Office Supplies,Palmerston North,New Zealand,AP-109151,Arthur Prichep,0.00,APAC,2011-09-14,IN-2011-86572,High,OFF-FA-10002101,"OIC Thumb Tacks, 12 Pack",5.4000,4,Oceania,54,Consumer,2011-09-17,Second Class,4.850,Manawatu-Wanganui,Fasteners,IN-2011-86572_2,APAC-4
7400,Office Supplies,Khartoum,Sudan,AP-9151,Arthur Prichep,0.00,Africa,2012-11-20,SU-2012-2020,Medium,OFF-STO-10003605,"Stockwell Paper Clips, Metal",1.4400,4,Africa,52,Consumer,2012-11-23,Second Class,5.480,Khartoum,Fasteners,SU-2012-2020_1,Africa-31
7967,Office Supplies,Palmerston North,New Zealand,AP-109151,Arthur Prichep,0.00,APAC,2011-09-14,IN-2011-86572,High,OFF-ST-10004983,"Smead Shelving, Wire Frame",1.9200,4,Oceania,192,Consumer,2011-09-17,Second Class,29.450,Manawatu-Wanganui,Storage,IN-2011-86572_3,APAC-4
8159,Office Supplies,Khartoum,Sudan,AP-9151,Arthur Prichep,0.00,Africa,2012-11-20,SU-2012-2020,Medium,OFF-SME-10002740,"Smead Lockers, Single Width",89.2800,1,Africa,198,Consumer,2012-11-23,Second Class,9.080,Khartoum,Storage,SU-2012-2020_2,Africa-31
8326,Office Supplies,Khartoum,Sudan,AP-9151,Arthur Prichep,0.00,Africa,2012-11-20,SU-2012-2020,Medium,OFF-SAN-10004420,"Sanford Sketch Pad, Water Color",22.8600,1,Africa,49,Consumer,2012-11-23,Second Class,4.330,Khartoum,Art,SU-2012-2020_3,Africa-31
9031,Office Supplies,Chisinau,Moldova,AP-9152,Arthur Prichep,0.00,EMEA,2014-09-30,MD-2014-4350,Medium,OFF-ACC-10000102,"Acco Binding Machine, Clear",33.3000,6,EMEA,303,Consumer,2014-10-02,Second Class,58.220,Chisinau,Binders,MD-2014-4350_1,EMEA-25
9306,Office Supplies,Khartoum,Sudan,AP-9151,Arthur Prichep,0.00,Africa,2012-11-20,SU-2012-2020,Medium,OFF-ACC-10004281,"Acco Hole Reinforcements, Recycled",3.5100,1,Africa,7,Consumer,2012-11-23,Second Class,0.980,Khartoum,Binders,SU-2012-2020_4,Africa-31
9378,Office Supplies,Chisinau,Moldova,AP-9152,Arthur Prichep,0.00,EMEA,2014-09-30,MD-2014-4350,Medium,OFF-AVE-10004312,"Avery Index Tab, Clear",0.2400,1,EMEA,6,Consumer,2014-10-02,Second Class,0.320,Chisinau,Binders,MD-2014-4350_2,EMEA-25
9711,Office Supplies,Cairo,Egypt,AP-9151,Arthur Prichep,0.00,Africa,2013-06-17,EG-2013-2420,Low,OFF-SAN-10003644,"Sanford Markers, Blue",4.4100,1,Africa,23,Consumer,2013-06-24,Standard Class,3.350,Al Qahirah,Art,EG-2013-2420_1,Africa-5
9712,Office Supplies,Cairo,Egypt,AP-9151,Arthur Prichep,0.00,Africa,2013-06-17,EG-2013-2420,Low,OFF-KRA-10002406,"Kraft Interoffice Envelope, with clear poly window",19.6500,1,Africa,50,Consumer,2013-06-24,Standard Class,6.840,Al Qahirah,Envelopes,EG-2013-2420_2,Africa-5
16305,Office Supplies,Nanchong,China,AP-109151,Arthur Prichep,0.00,APAC,2013-06-15,IN-2013-62128,Medium,OFF-LA-10002575,"Smead Legal Exhibit Labels, 5000 Label Set",2.2500,5,North Asia,57,Consumer,2013-06-21,Standard Class,3.410,Sichuan,Labels,IN-2013-62128_1,APAC-3
16766,Office Supplies,Santa Clara,Cuba,AP-109153,Arthur Prichep,0.00,LATAM,2012-11-26,MX-2012-154249,Medium,OFF-SU-10001421,"Acme Shears, Easy Grip",35.6800,4,Caribbean,137,Consumer,2012-11-30,Standard Class,10.838,Villa Clara,Supplies,MX-2012-154249_1,LATAM-4
17386,Office Supplies,Dar es Salaam,Tanzania,AP-9151,Arthur Prichep,0.00,Africa,2013-09-24,TZ-2013-9020,Medium,OFF-BRE-10003081,"Breville Coffee Grinder, Black",42.9000,2,Africa,123,Consumer,2013-09-28,Standard Class,7.310,Dar Es Salaam,Appliances,TZ-2013-9020_1,Africa-14
17387,Office Supplies,Dar es Salaam,Tanzania,AP-9151,Arthur Prichep,0.00,Africa,2013-09-24,TZ-2013-9020,Medium,OFF-KIT-10002828,"KitchenAid Microwave, White",203.5800,2,Africa,617,Consumer,2013-09-28,Standard Class,42.110,Dar Es Salaam,Appliances,TZ-2013-9020_2,Africa-14
17499,Office Supplies,Nanchong,China,AP-109151,Arthur Prichep,0.00,APAC,2013-06-15,IN-2013-62128,Medium,OFF-ST-10003411,"Eldon Trays, Wire Frame",49.3500,7,North Asia,329,Consumer,2013-06-21,Standard Class,15.460,Sichuan,Storage,IN-2013-62128_2,APAC-3
18145,Office Supplies,Nanchong,China,AP-109151,Arthur Prichep,0.00,APAC,2013-06-15,IN-2013-62128,Medium,OFF-AR-10004990,"Boston Highlighters, Blue",88.5000,10,North Asia,189,Consumer,2013-06-21,Standard Class,16.400,Sichuan,Art,IN-2013-62128_3,APAC-3
18274,Office Supplies,Halifax,United Kingdom,AP-109152,Arthur Prichep,0.00,EU,2013-01-12,ES-2013-3495942,Medium,OFF-AR-10003012,"Sanford Markers, Easy-Erase",2.2500,5,North,118,Consumer,2013-01-19,Standard Class,6.580,England,Art,ES-2013-3495942_1,EU-7
18417,Office Supplies,Valence,France,AP-109152,Arthur Prichep,0.00,EU,2011-01-04,ES-2011-4939443,Medium,OFF-AR-10001546,"Binney & Smith Sketch Pad, Easy-Erase",20.8800,3,Central,140,Consumer,2011-01-08,Standard Class,10.780,Rhône-Alpes,Art,ES-2011-4939443_1,EU-1
18525,Office Supplies,Cagliari,Italy,AP-109152,Arthur Prichep,0.00,EU,2011-09-27,ES-2011-5426048,Medium,OFF-BI-10000620,"Wilson Jones Index Tab, Economy",8.2500,5,South,32,Consumer,2011-10-01,Standard Class,2.690,Sardinia,Binders,ES-2011-5426048_1,EU-6
18746,Office Supplies,Venice,Italy,AP-109152,Arthur Prichep,0.00,EU,2013-09-14,IT-2013-2076787,Medium,OFF-BI-10003440,"Avery Binder Covers, Economy",10.2600,3,South,33,Consumer,2013-09-18,Standard Class,1.850,Veneto,Binders,IT-2013-2076787_1,EU-6
18838,Office Supplies,Dar es Salaam,Tanzania,AP-9151,Arthur Prichep,0.00,Africa,2013-09-24,TZ-2013-9020,Medium,OFF-WIL-10003933,"Wilson Jones Binder Covers, Durable",11.6400,2,Africa,25,Consumer,2013-09-28,Standard Class,1.330,Dar Es Salaam,Binders,TZ-2013-9020_3,Africa-14
19333,Technology,Nanchong,China,AP-109151,Arthur Prichep,0.00,APAC,2013-06-15,IN-2013-62128,Medium,TEC-AC-10001616,"SanDisk Numeric Keypad, Erganomic",28.3500,5,North Asia,284,Consumer,2013-06-21,Standard Class,12.420,Sichuan,Accessories,IN-2013-62128_4,APAC-3
20626,Technology,Dar es Salaam,Tanzania,AP-9151,Arthur Prichep,0.00,Africa,2013-09-24,TZ-2013-9020,Medium,TEC-CAN-10001853,"Canon Fax Machine, High-Speed",37.9800,1,Africa,317,Consumer,2013-09-28,Standard Class,20.000,Dar Es Salaam,Copiers,TZ-2013-9020_4,Africa-14
23410,Furniture,Tipitapa,Nicaragua,AP-109153,Arthur Prichep,0.00,LATAM,2013-10-09,MX-2013-101805,High,FUR-BO-10002352,"Ikea 3-Shelf Cabinet, Mobile",216.3200,8,Central,773,Consumer,2013-10-14,Standard Class,96.177,Managua,Bookcases,MX-2013-101805_1,LATAM-3
23875,Furniture,Cairo,Egypt,AP-9151,Arthur Prichep,0.00,Africa,2013-06-17,EG-2013-2420,Low,FUR-ELD-10004727,"Eldon Stacking Tray, Black",22.6800,6,Africa,189,Consumer,2013-06-24,Standard Class,27.900,Al Qahirah,Furnishings,EG-2013-2420_3,Africa-5
24018,Furniture,Cairo,Egypt,AP-9151,Arthur Prichep,0.00,Africa,2013-06-17,EG-2013-2420,Low,FUR-SAF-10004530,"Safco Floating Shelf Set, Traditional",86.5500,1,Africa,197,Consumer,2013-06-24,Standard Class,24.840,Al Qahirah,Bookcases,EG-2013-2420_4,Africa-5
24111,Technology,Cairo,Egypt,AP-9151,Arthur Prichep,0.00,Africa,2013-06-17,EG-2013-2420,Low,TEC-SHA-10000479,"Sharp Personal Copier, Digital",119.6400,2,Africa,239,Consumer,2013-06-24,Standard Class,15.280,Al Qahirah,Copiers,EG-2013-2420_5,Africa-5
25440,Furniture,Thane,India,AP-109151,Arthur Prichep,0.00,APAC,2014-09-11,IN-2014-46875,Medium,FUR-CH-10002573,"Office Star Executive Leather Armchair, Adjustable",158.1000,2,Central Asia,930,Consumer,2014-09-12,First Class,112.760,Maharashtra,Chairs,IN-2014-46875_1,APAC-1
25460,Furniture,Guwahati,India,AP-109151,Arthur Prichep,0.00,APAC,2014-10-16,IN-2014-18532,High,FUR-CH-10000026,"SAFCO Rocking Chair, Black",10.5600,2,Central Asia,265,Consumer,2014-10-19,Second Class,40.370,Assam,Chairs,IN-2014-18532_1,APAC-1
25532,Furniture,Harbin,China,AP-109151,Arthur Prichep,0.00,APAC,2012-08-23,IN-2012-68911,High,FUR-CH-10002224,"Hon Rocking Chair, Set of Two",26.5500,5,North Asia,664,Consumer,2012-08-25,First Class,92.260,Heilongjiang,Chairs,IN-2012-68911_3,APAC-3
25577,Furniture,Shouguang,China,AP-109151,Arthur Prichep,0.00,APAC,2014-08-28,IN-2014-50473,High,FUR-CH-10000602,"Novimex Executive Leather Armchair, Red",110.3400,6,North Asia,2761,Consumer,2014-08-29,First Class,644.750,Shandong,Chairs,IN-2014-50473_2,APAC-3
26032,Technology,Khartoum,Sudan,AP-9151,Arthur Prichep,0.00,Africa,2012-11-20,SU-2012-2020,Medium,TEC-SAM-10004384,"Samsung Office Telephone, VoIP",18.9300,1,Africa,65,Consumer,2012-11-23,Second Class,1.750,Khartoum,Phones,SU-2012-2020_5,Africa-31
26125,Technology,Chisinau,Moldova,AP-9152,Arthur Prichep,0.00,EMEA,2014-09-30,MD-2014-4350,Medium,TEC-SAM-10003538,"Samsung Speaker Phone, Full Size",29.8800,1,EMEA,125,Consumer,2014-10-02,Second Class,12.370,Chisinau,Phones,MD-2014-4350_3,EMEA-25
26413,Technology,Shouguang,China,AP-109151,Arthur Prichep,0.00,APAC,2014-08-28,IN-2014-50473,High,TEC-CO-10001654,"Hewlett Wireless Fax, Digital",311.4600,2,North Asia,760,Consumer,2014-08-29,First Class,207.210,Shandong,Copiers,IN-2014-50473_3,APAC-3
27110,Technology,Estelí,Nicaragua,AP-109153,Arthur Prichep,0.00,LATAM,2014-02-17,MX-2014-108973,High,TEC-AC-10001076,"Memorex Keyboard, USB",109.7000,5,Central,239,Consumer,2014-02-18,First Class,51.086,Estelí,Accessories,MX-2014-108973_1,LATAM-3
27163,Technology,Celaya,Mexico,AP-109153,Arthur Prichep,0.00,LATAM,2012-06-18,MX-2012-124765,Critical,TEC-AC-10000244,"Memorex Router, USB",4.9200,3,North,493,Consumer,2012-06-18,Same Day,88.752,Guanajuato,Accessories,MX-2012-124765_3,LATAM-5
28080,Furniture,Henderson,United States,AP-109154,Arthur Prichep,0.00,US,2013-11-04,CA-2013-168893,High,FUR-FU-10002885,Magna Visual Magnetic Picture Hangers,9.1580,5,South,24,Consumer,2013-11-09,Second Class,3.740,Kentucky,Furnishings,CA-2013-168893_4,US-1
28081,Furniture,Henderson,United States,AP-109154,Arthur Prichep,0.00,US,2013-11-04,CA-2013-168893,High,FUR-TA-10003392,Global Adaptabilities Conference Tables,160.1586,3,South,843,Consumer,2013-11-09,Second Class,126.790,Kentucky,Tables,CA-2013-168893_5,US-1
28318,Technology,Seattle,United States,AP-109154,Arthur Prichep,0.00,US,2013-12-11,CA-2013-128412,Low,TEC-AC-10003038,Kingston Digital DataTraveler 16GB USB 2.0,8.5025,5,West,45,Consumer,2013-12-18,Standard Class,3.250,Washington,Accessories,CA-2013-128412_4,US-1
28892,Furniture,Los Angeles,United States,AP-109154,Arthur Prichep,0.00,US,2011-09-29,CA-2011-146969,High,FUR-FU-10004188,Luxo Professional Combination Clamp-On Lamps,53.1960,2,West,205,Consumer,2011-10-03,Standard Class,14.690,California,Furnishings,CA-2011-146969_4,US-1
33172,Office Supplies,Jakarta,Indonesia,AP-109151,Arthur Prichep,0.17,APAC,2014-03-26,IN-2014-17972,Critical,OFF-AP-10003917,"KitchenAid Stove, Silver",428.1210,3,Southeast Asia,1422,Consumer,2014-03-29,First Class,367.570,Jakarta,Appliances,IN-2014-17972_1,APAC-22
33223,Office Supplies,Jakarta,Indonesia,AP-109151,Arthur Prichep,0.27,APAC,2014-03-26,IN-2014-17972,Critical,OFF-AR-10003774,"Stanley Sketch Pad, Fluorescent",19.1511,3,Southeast Asia,100,Consumer,2014-03-29,First Class,19.680,Jakarta,Art,IN-2014-17972_2,APAC-22
34267,Office Supplies,Jakarta,Indonesia,AP-109151,Arthur Prichep,0.17,APAC,2014-03-26,IN-2014-17972,Critical,OFF-ST-10004576,"Rogers File Cart, Single Width",4.1787,3,Southeast Asia,353,Consumer,2014-03-29,First Class,65.820,Jakarta,Storage,IN-2014-17972_3,APAC-22
40463,Office Supplies,Auckland,New Zealand,AP-109151,Arthur Prichep,0.40,APAC,2012-05-04,IN-2012-81623,Medium,OFF-PA-10001302,"Eaton Memo Slips, Recycled",5.4000,4,Oceania,33,Consumer,2012-05-08,Standard Class,2.440,Auckland,Paper,IN-2012-81623_1,APAC-4
40501,Technology,Venice,Italy,AP-109152,Arthur Prichep,0.40,EU,2013-09-14,IT-2013-2076787,Medium,TEC-PH-10002907,"Motorola Headset, VoIP",-30.3840,2,South,96,Consumer,2013-09-18,Standard Class,6.360,Veneto,Phones,IT-2013-2076787_2,EU-6
40988,Furniture,Mérida,Mexico,AP-109153,Arthur Prichep,0.20,LATAM,2012-06-27,MX-2012-112466,Medium,FUR-BO-10000411,"Sauder Floating Shelf Set, Metal",62.0560,2,North,207,Consumer,2012-07-03,Standard Class,18.133,Yucatán,Bookcases,MX-2012-112466_1,LATAM-5
41458,Office Supplies,São Miguel dos Campos,Brazil,AP-109153,Arthur Prichep,0.60,LATAM,2012-11-26,US-2012-114860,Medium,OFF-SU-10000113,"Acme Shears, Easy Grip",-46.7840,4,South,55,Consumer,2012-11-30,Standard Class,4.130,Alagoas,Supplies,US-2012-114860_1,LATAM-6
41581,Office Supplies,Santo Domingo,Dominican Republic,AP-109153,Arthur Prichep,0.20,LATAM,2012-09-11,MX-2012-162915,Medium,OFF-AR-10003291,"BIC Canvas, Fluorescent",25.2360,3,Caribbean,88,Consumer,2012-09-17,Standard Class,7.434,Santo Domingo,Art,MX-2012-162915_1,LATAM-18
41582,Office Supplies,Santo Domingo,Dominican Republic,AP-109153,Arthur Prichep,0.20,LATAM,2012-09-11,MX-2012-162915,Medium,OFF-BI-10004177,"Wilson Jones 3-Hole Punch, Durable",9.0160,2,Caribbean,31,Consumer,2012-09-17,Standard Class,2.694,Santo Domingo,Binders,MX-2012-162915_2,LATAM-18
41812,Office Supplies,Mamak,Turkey,AP-9152,Arthur Prichep,0.60,EMEA,2012-12-18,TU-2012-90,Medium,OFF-FEL-10001541,"Fellowes Lockers, Wire Frame",-30.9600,1,EMEA,83,Consumer,2012-12-22,Standard Class,6.260,Ankara,Storage,TU-2012-90_1,EMEA-34
43213,Technology,Vallauris,France,AP-109152,Arthur Prichep,0.15,EU,2014-08-22,IT-2014-4533109,Medium,TEC-MA-10004452,"Epson Receipt Printer, Durable",-28.1475,3,Central,299,Consumer,2014-08-28,Standard Class,16.600,Provence-Alpes-Côte d'Azur,Machines,IT-2014-4533109_1,EU-1
43400,Furniture,Saint-Denis,France,AP-109152,Arthur Prichep,0.10,EU,2014-06-23,ES-2014-1436831,Medium,FUR-BO-10003697,"Safco Floating Shelf Set, Mobile",15.9360,4,Central,717,Consumer,2014-06-27,Standard Class,48.650,Ile-de-France,Bookcases,ES-2014-1436831_1,EU-1
46019,Furniture,Sydney,Australia,AP-109151,Arthur Prichep,0.10,APAC,2012-05-30,IN-2012-36655,Medium,FUR-FU-10003214,"Eldon Stacking Tray, Durable",9.6540,2,Oceania,51,Consumer,2012-06-03,Standard Class,0.450,New South Wales,Furnishings,IN-2012-36655_1,APAC-9
46020,Technology,Sydney,Australia,AP-109151,Arthur Prichep,0.10,APAC,2012-05-30,IN-2012-36655,Medium,TEC-PH-10002104,"Cisco Speaker Phone, Cordless",80.5410,3,Oceania,382,Consumer,2012-06-03,Standard Class,20.900,New South Wales,Phones,IN-2012-36655_2,APAC-9
47418,Furniture,Fort Collins,United States,AP-109154,Arthur Prichep,0.70,US,2014-09-24,US-2014-132059,Low,FUR-BO-10001811,"Atlantic Metals Mobile 5-Shelf Bookcases, Custom Colors",-240.7840,2,West,181,Consumer,2014-09-30,Standard Class,23.960,Colorado,Bookcases,US-2014-132059_1,US-1

### Table: customers >

### < Table: products

In [1277]:
df_products = df_superstore[['product_id', 'product_name', 'category', 'sub_category']]
df_products.shape

(51290, 4)

In [1279]:
df_products.head()

,product_id,product_name,category,sub_category
0,OFF-PA-10002005,Xerox 225,Office Supplies,Paper
1,OFF-PA-10002893,"Wirebound Service Call Books, 5 1/2"" x 4""",Office Supplies,Paper
2,OFF-PA-10000659,"Adams Phone Message Book, Professional, 400 Message Capacity, 5 3/6” x 11”",Office Supplies,Paper
3,OFF-PA-10001144,Xerox 1913,Office Supplies,Paper
4,OFF-PA-10002105,Xerox 223,Office Supplies,Paper

In [1281]:
df_products.drop_duplicates(inplace=True)
df_products.shape

/opt/anaconda3/lib/python3.11/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

(10768, 4)

In [1283]:
df_products.duplicated(subset='product_id').sum()

476

In [1287]:
count_df = df_products['product_id'].value_counts().reset_index()
count_df = count_df.rename(columns={'index': 'product_id', 'product_id': 'counts'})
count_df

            product_id  counts
0      OFF-PA-10004673  4
1      OFF-PA-10000357  3
2      OFF-BI-10004632  3
3      OFF-BI-10002799  3
4      OFF-BI-10004654  3
...                ... ..
10287  TEC-PH-10000486  1
10288  OFF-AR-10002671  1
10289  OFF-EN-10003068  1
10290  OFF-AP-10000326  1
10291  TEC-MA-10001031  1

[10292 rows x 2 columns]

In [1289]:
df_products = pd.merge(df_products, count_df, on='product_id', how='left')
df_products

,product_id,product_name,category,sub_category,counts
0,OFF-PA-10002005,Xerox 225,Office Supplies,Paper,1
1,OFF-PA-10002893,"Wirebound Service Call Books, 5 1/2"" x 4""",Office Supplies,Paper,1
2,OFF-PA-10000659,"Adams Phone Message Book, Professional, 400 Message Capacity, 5 3/6” x 11”",Office Supplies,Paper,2
3,OFF-PA-10001144,Xerox 1913,Office Supplies,Paper,1
4,OFF-PA-10002105,Xerox 223,Office Supplies,Paper,1
...,...,...,...,...,...
10763,TEC-PH-10001949,Cisco SPA 501G IP Phone,Technology,Phones,1
10764,TEC-MA-10003246,Hewlett-Packard Deskjet D4360 Printer,Technology,Machines,1
10765,TEC-MA-10003329,"Vtech AT&T CL2940 Corded Speakerphone, Black",Technology,Machines,1
10766,FUR-TA-10001691,"Barricks Non-Folding Utility Table with Steel Legs, Laminate Tops",Furniture,Tables,1
10767,TEC-MA-10001031,Socket Bluetooth Cordless Hand Scanner (CHS),Technology,Machines,1

In [990]:
df_products.loc[df_products['counts'] > 3]

,product_id,product_name,category,sub_category,counts
2851,OFF-PA-10004673,"Enermax Message Books, 8.5 x 11",Office Supplies,Paper,4
2999,OFF-PA-10004673,"Eaton Note Cards, Multicolor",Office Supplies,Paper,4
5126,OFF-PA-10004673,"Green Bar Memo Slips, Recycled",Office Supplies,Paper,4
9728,OFF-PA-10004673,"Xerox Message Books, Multicolor",Office Supplies,Paper,4

In [992]:
df_products.loc[df_products['product_id'] == 'OFF-PA-10000659']

,product_id,product_name,category,sub_category,counts
2,OFF-PA-10000659,"Adams Phone Message Book, Professional, 400 Message Capacity, 5 3/6” x 11”",Office Supplies,Paper,2
70,OFF-PA-10000659,"TOPS Carbonless Receipt Book, Four 2-3/4 x 7-1/4 Money Receipts per Page",Office Supplies,Paper,2

In [994]:
# df_products.drop_duplicates(subset='product_id', inplace=True)

In [996]:
# df_products.duplicated(subset='product_id').sum()

### Table: products >

### < Table: orders

In [1000]:
df_superstore.head(1)

,category,city,country,customer_id,customer_name,discount,market,order_date,order_number,order_priority,product_id,product_name,profit,quantity,region,sales,segment,ship_date,ship_mode,shipping_cost,state,sub_category,order_id,market_id
0,Office Supplies,Los Angeles,United States,LS-172304,Lycoris Saunders,0.0,US,2011-01-07,CA-2011-130813,High,OFF-PA-10002005,Xerox 225,9.3312,3,West,19,Consumer,2011-01-09,Second Class,4.37,California,Paper,CA-2011-130813_1,US-1

In [1002]:
df_orders = df_superstore[['order_id', \
                           'order_number', \
                           'order_date', \
                           'order_priority', \
                           'product_id', \
                           'quantity', \
                           'customer_id', \
                           'city', \
                           'region', \
                           'market_id']]

In [1004]:
df_orders

,order_id,order_number,order_date,order_priority,product_id,quantity,customer_id,city,region,market_id
0,CA-2011-130813_1,CA-2011-130813,2011-01-07,High,OFF-PA-10002005,3,LS-172304,Los Angeles,West,US-1
1,CA-2011-148614_1,CA-2011-148614,2011-01-21,Medium,OFF-PA-10002893,2,MV-174854,Los Angeles,West,US-1
2,CA-2011-118962_1,CA-2011-118962,2011-08-05,Medium,OFF-PA-10000659,3,CS-121304,Los Angeles,West,US-1
3,CA-2011-118962_2,CA-2011-118962,2011-08-05,Medium,OFF-PA-10001144,2,CS-121304,Los Angeles,West,US-1
4,CA-2011-146969_1,CA-2011-146969,2011-09-29,High,OFF-PA-10002105,1,AP-109154,Los Angeles,West,US-1
...,...,...,...,...,...,...,...,...,...,...
51285,CA-2014-109701_4,CA-2014-109701,2014-12-03,High,OFF-BI-10000632,2,AM-103604,Los Angeles,West,US-1
51286,CA-2014-109701_5,CA-2014-109701,2014-12-03,High,OFF-BI-10004187,6,AM-103604,Los Angeles,West,US-1
51287,CA-2014-106964_1,CA-2014-106964,2014-12-18,Medium,OFF-BI-10000320,2,HR-147704,Los Angeles,West,US-1
51288,CA-2014-145219_2,CA-2014-145219,2014-12-25,Critical,OFF-BI-10001670,3,RM-196754,Los Angeles,West,US-1
51289,CA-2014-121398_2,CA-2014-121398,2014-12-26,Medium,OFF-BI-10001718,3,FH-143654,Los Angeles,West,US-1

In [1006]:
df_orders.duplicated().sum()

0

In [1010]:
df_orders.loc[df_orders['order_number'] == 'CA-2014-121398']

,order_id,order_number,order_date,order_priority,product_id,quantity,customer_id,city,region,market_id
344,CA-2014-121398_1,CA-2014-121398,2014-12-26,Medium,OFF-ST-10002756,2,FH-143654,Los Angeles,West,US-1
51289,CA-2014-121398_2,CA-2014-121398,2014-12-26,Medium,OFF-BI-10001718,3,FH-143654,Los Angeles,West,US-1

In [1012]:
df_superstore.loc[df_superstore['order_number'] == 'CA-2014-121398']

,category,city,country,customer_id,customer_name,discount,market,order_date,order_number,order_priority,product_id,product_name,profit,quantity,region,sales,segment,ship_date,ship_mode,shipping_cost,state,sub_category,order_id,market_id
344,Office Supplies,Los Angeles,United States,FH-143654,Fred Hopkins,0.0,US,2014-12-26,CA-2014-121398,Medium,OFF-ST-10002756,"Tennsco Stur-D-Stor Boltless Shelving, 5 Shelves, 24"" Deep, Sand",2.7062,2,West,271,Corporate,2014-12-30,Standard Class,16.73,California,Storage,CA-2014-121398_1,US-1
51289,Office Supplies,Los Angeles,United States,FH-143654,Fred Hopkins,0.2,US,2014-12-26,CA-2014-121398,Medium,OFF-BI-10001718,GBC DocuBind P50 Personal Binding Machine,51.8238,3,West,154,Corporate,2014-12-30,Standard Class,9.59,California,Binders,CA-2014-121398_2,US-1

### Table: orders >

### < Table: markets

In [1020]:
df_superstore.head(1)

,category,city,country,customer_id,customer_name,discount,market,order_date,order_number,order_priority,product_id,product_name,profit,quantity,region,sales,segment,ship_date,ship_mode,shipping_cost,state,sub_category,order_id,market_id
0,Office Supplies,Los Angeles,United States,LS-172304,Lycoris Saunders,0.0,US,2011-01-07,CA-2011-130813,High,OFF-PA-10002005,Xerox 225,9.3312,3,West,19,Consumer,2011-01-09,Second Class,4.37,California,Paper,CA-2011-130813_1,US-1

In [1026]:
df_markets = df_superstore[['market_id', 'market', 'country']]
df_markets.drop_duplicates(inplace=True)
df_markets

/opt/anaconda3/lib/python3.11/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

       market_id  market                           country
0      US-1       US      United States
3129   EU-1       EU      France
3216   EU-2       EU      Germany
3217   LATAM-1    LATAM   El Salvador
3226   LATAM-2    LATAM   Guatemala
3228   EU-3       EU      Austria
3232   LATAM-3    LATAM   Nicaragua
3288   EU-4       EU      Belgium
3298   EU-5       EU      Switzerland
3316   EU-6       EU      Italy
3317   Africa-1   Africa  South Africa
3318   APAC-1     APAC    India
3319   APAC-2     APAC    Hong Kong
3321   Africa-2   Africa  Democratic Republic of the Congo
3322   LATAM-4    LATAM   Cuba
3323   EU-7       EU      United Kingdom
3324   EU-8       EU      Spain
3327   EMEA-1     EMEA    Russia
3329   APAC-3     APAC    China
3332   Africa-3   Africa  Niger
3333   EMEA-2     EMEA    Qatar
3334   APAC-4     APAC    New Zealand
3335   LATAM-5    LATAM   Mexico
3339   APAC-5     APAC    Malaysia
3346   EMEA-3     EMEA    Poland
3350   Africa-4   Africa  Madagascar
3351   EMEA-4     EMEA    Iraq
3354   LATAM-6    LATAM   Brazil
3358   LATAM-7    LATAM   Colombia
3368   EMEA-5     EMEA    Saudi Arabia
3370   Africa-5   Africa  Egypt
3376   EMEA-6     EMEA    Iran
3378   EMEA-7     EMEA    Ukraine
3383   APAC-6     APAC    Japan
3394   Africa-6   Africa  Morocco
3403   Africa-7   Africa  Cameroon
3409   LATAM-8    LATAM   Chile
3420   Africa-8   Africa  Ghana
3423   LATAM-9    LATAM   Trinidad and Tobago
3452   Canada-1   Canada  Canada
3460   Africa-9   Africa  Chad
3461   Africa-10  Africa  Kenya
3467   APAC-7     APAC    Bangladesh
3470   EMEA-8     EMEA    Bulgaria
3482   Africa-11  Africa  Djibouti
3486   LATAM-10   LATAM   Uruguay
3493   APAC-8     APAC    Singapore
3527   EMEA-9     EMEA    Czech Republic
3528   Africa-12  Africa  Zambia
3538   LATAM-11   LATAM   Bolivia
3544   Africa-13  Africa  Angola
3549   APAC-9     APAC    Australia
3580   Africa-14  Africa  Tanzania
3621   EU-9       EU      Norway
3645   Africa-15  Africa  Sierra Leone
3688   EMEA-10    EMEA    Hungary
3717   LATAM-12   LATAM   Ecuador
3751   EU-10      EU      Finland
3762   APAC-10    APAC    Afghanistan
3816   EMEA-11    EMEA    Uzbekistan
3818   EMEA-12    EMEA    Romania
3820   EMEA-13    EMEA    Kyrgyzstan
3837   EMEA-14    EMEA    Austria
3841   EMEA-15    EMEA    Belarus
3850   EMEA-16    EMEA    Mongolia
3853   EMEA-17    EMEA    Georgia
3856   EMEA-18    EMEA    Syria
3862   EMEA-19    EMEA    Croatia
3868   EMEA-20    EMEA    Israel
3886   Africa-16  Africa  Liberia
3892   Africa-17  Africa  Guinea-Bissau
3899   Africa-18  Africa  Somalia
3907   Africa-19  Africa  Senegal
3917   Africa-20  Africa  Tunisia
3921   Africa-21  Africa  Mali
3925   Africa-22  Africa  Algeria
3955   Africa-23  Africa  Benin
3960   Africa-24  Africa  Ethiopia
3965   Africa-25  Africa  Libya
3974   Africa-26  Africa  Mozambique
4002   LATAM-13   LATAM   Guadeloupe
4018   EMEA-21    EMEA    Jordan
4069   Africa-27  Africa  Togo
4279   Africa-28  Africa  Cote d'Ivoire
4326   APAC-11    APAC    Taiwan
4388   LATAM-14   LATAM   Jamaica
4426   APAC-12    APAC    Cambodia
4627   EMEA-22    EMEA    Azerbaijan
4631   Africa-29  Africa  Lesotho
4778   EMEA-23    EMEA    Bahrain
4811   EMEA-24    EMEA    Montenegro
5025   EMEA-25    EMEA    Moldova
5062   Africa-30  Africa  Rwanda
5223   APAC-13    APAC    Nepal
5288   LATAM-15   LATAM   Martinique
5435   EMEA-26    EMEA    Estonia
5449   EMEA-27    EMEA    Albania
5451   EMEA-28    EMEA    Slovakia
5588   Africa-31  Africa  Sudan
5611   Africa-32  Africa  Guinea
5698   Africa-33  Africa  Republic of the Congo
5740   Africa-34  Africa  Namibia
5838   APAC-14    APAC    Sri Lanka
5965   Africa-35  Africa  Central African Republic
6091   Africa-36  Africa  Eritrea
6273   EMEA-29    EMEA    Lebanon
6295   EMEA-30    EMEA    Bosnia and Herzegovina
6341   LATAM-16   LATAM   Barbados
7113   LATAM-17   LATAM   Paraguay
8012   Africa-37  Africa  Mauritania
9061   Africa-38  Africa  Swaziland
9463   Africa-39  Africa  Gabon
9626   EMEA-31    EMEA    Armenia
9854   EMEA-32    EMEA    Slovenia
13204  EMEA-33    EMEA    Macedonia
15987  Africa-40  Africa  Equatorial Guinea
20668  Africa-41  Africa  South Sudan
22329  Africa-42  Africa  Burundi
29302  EMEA-34    EMEA    Turkey
29484  Africa-43  Africa  Nigeria
29611  EMEA-35    EMEA    Turkmenistan
29614  EMEA-36    EMEA    Kazakhstan
29621  EMEA-37    EMEA    Lithuania
29630  EMEA-38    EMEA    Yemen
29631  Africa-44  Africa  Uganda
29633  Africa-45  Africa  Zimbabwe
29648  EMEA-39    EMEA    United Arab Emirates
29666  EU-11      EU      Sweden
29668  EU-12      EU      Denmark
29669  EU-13      EU      Ireland
29725  EU-14      EU      Portugal
29829  EU-15      EU      Netherlands
30074  APAC-15    APAC    South Korea
30075  APAC-16    APAC    Pakistan
30092  APAC-17    APAC    Papua New Guinea
30232  APAC-18    APAC    Thailand
30233  APAC-19    APAC    Myanmar (Burma)
30235  APAC-20    APAC    Vietnam
30242  APAC-21    APAC    Philippines
30452  APAC-22    APAC    Indonesia
30781  LATAM-18   LATAM   Dominican Republic
30891  LATAM-19   LATAM   Haiti
30894  LATAM-20   LATAM   Panama
30898  LATAM-21   LATAM   Honduras
30899  LATAM-22   LATAM   Argentina
30904  LATAM-23   LATAM   Peru
30913  LATAM-24   LATAM   Venezuela
40306  EMEA-40    EMEA    Tajikistan
40590  APAC-23    APAC    Mongolia

In [1032]:
df_markets.shape

(149, 3)

In [1034]:
df_markets.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 149 entries, 0 to 40590
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   market_id  149 non-null    object
 1   market     149 non-null    object
 2   country    149 non-null    object
dtypes: object(3)
memory usage: 4.7+ KB

### Table: markets >

### < Table: shipments

In [1039]:
df_superstore.head(1)

,category,city,country,customer_id,customer_name,discount,market,order_date,order_number,order_priority,product_id,product_name,profit,quantity,region,sales,segment,ship_date,ship_mode,shipping_cost,state,sub_category,order_id,market_id
0,Office Supplies,Los Angeles,United States,LS-172304,Lycoris Saunders,0.0,US,2011-01-07,CA-2011-130813,High,OFF-PA-10002005,Xerox 225,9.3312,3,West,19,Consumer,2011-01-09,Second Class,4.37,California,Paper,CA-2011-130813_1,US-1

In [1043]:
df_shipments = df_superstore[['order_id', 'ship_date', 'ship_mode', 'shipping_cost', 'state']]
df_shipments.duplicated().sum()

0

In [1045]:
df_shipments.head()

           order_id  ship_date       ship_mode  shipping_cost       state
0  CA-2011-130813_1 2011-01-09  Second Class    4.37           California
1  CA-2011-148614_1 2011-01-26  Standard Class  0.94           California
2  CA-2011-118962_1 2011-08-09  Standard Class  1.81           California
3  CA-2011-118962_2 2011-08-09  Standard Class  4.59           California
4  CA-2011-146969_1 2011-10-03  Standard Class  1.32           California

In [1048]:
df_shipments.shape

(51290, 5)

### Table: shipments >

### < Table: payments

In [1059]:
df_superstore.head(1)

,category,city,country,customer_id,customer_name,discount,market,order_date,order_number,order_priority,product_id,product_name,profit,quantity,region,sales,segment,ship_date,ship_mode,shipping_cost,state,sub_category,order_id,market_id
0,Office Supplies,Los Angeles,United States,LS-172304,Lycoris Saunders,0.0,US,2011-01-07,CA-2011-130813,High,OFF-PA-10002005,Xerox 225,9.3312,3,West,19,Consumer,2011-01-09,Second Class,4.37,California,Paper,CA-2011-130813_1,US-1

In [1061]:
df_shipments = df_superstore[['order_id', 'sales', 'profit', 'discount']]
df_shipments.duplicated().sum()

0

In [1063]:
df_shipments.head()

           order_id  sales   profit  discount
0  CA-2011-130813_1  19     9.3312   0.0
1  CA-2011-148614_1  19     9.2928   0.0
2  CA-2011-118962_1  21     9.8418   0.0
3  CA-2011-118962_2  111    53.2608  0.0
4  CA-2011-146969_1  6      3.1104   0.0

In [1065]:
df_shipments.shape

(51290, 4)

### Table: payments >

# Creating tables for DataBase >

# MySQL: creating tables and inserting data

In [1072]:
import mysql.connector

### < Table: customers

In [1122]:
def SQL_INSERT_STATEMENT_FROM_DATAFRAME(SOURCE, TARGET):
    sql_texts = []
    for index, row in SOURCE.iterrows():       
        sql_texts.append('INSERT INTO '+TARGET+' ('+ str(', '.join(SOURCE.columns))+ ') VALUES '+ str(tuple(row.values)))        
    return sql_texts

def SQL_CREATE_STATEMENT_FROM_DATAFRAME(SOURCE, TARGET):
    # SQL_CREATE_STATEMENT_FROM_DATAFRAME(SOURCE, TARGET)
    # SOURCE: source dataframe
    # TARGET: target table to be created in database

    sql_text = pd.io.sql.get_schema(SOURCE.reset_index(), TARGET)   
    return sql_text

user = 'root'
password = 'Qwerty123'
host = 'localhost'
database = 'superstore_db'

db = mysql.connector.connect(
    user=user,
    password=password,
    host=host,
    database=database
)

# from sqlalchemy import create_engine
# engine = create_engine(f"mysql://root:Qwerty123@localhost/youtube_db")

insert_statements_list = SQL_INSERT_STATEMENT_FROM_DATAFRAME(df_customers, "customers")
text_query = SQL_CREATE_STATEMENT_FROM_DATAFRAME(df_customers, "customers")

# print(text_query)


sql = '''
        SET FOREIGN_KEY_CHECKS = 0;
        DROP TABLE IF EXISTS `customers`;
        CREATE TABLE `customers` (
          `customer_id` varchar(45) NOT NULL,
          `customer_name` varchar(45) DEFAULT NULL,
          `segment` varchar(45) DEFAULT NULL,
          PRIMARY KEY (`customer_id`)
        ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
        ''' + "; ".join(insert_statements_list)

with db.cursor(buffered=True, dictionary=True) as c: 
    executables = c.execute(sql, multi=True)
    _ = [item for item in executables]
    db.commit() 
print("cool!")

cool!

### Table: customers >

### < Table: products

In [1362]:
def SQL_INSERT_STATEMENT_FROM_DATAFRAME(SOURCE, TARGET):
    sql_texts = []
    for index, row in SOURCE.iterrows():       
        sql_texts.append('INSERT INTO '+TARGET+' ('+ str(', '.join(SOURCE.columns))+ ') VALUES '+ str(tuple(row.values)))        
    return sql_texts

def SQL_CREATE_STATEMENT_FROM_DATAFRAME(SOURCE, TARGET):
    # SQL_CREATE_STATEMENT_FROM_DATAFRAME(SOURCE, TARGET)
    # SOURCE: source dataframe
    # TARGET: target table to be created in database

    sql_text = pd.io.sql.get_schema(SOURCE.reset_index(), TARGET)   
    return sql_text

user = 'root'
password = 'Qwerty123'
host = 'localhost'
database = 'superstore_db'

db = mysql.connector.connect(
    user=user,
    password=password,
    host=host,
    database=database
)

insert_statements_list = SQL_INSERT_STATEMENT_FROM_DATAFRAME(df_products, "products")
text_query = SQL_CREATE_STATEMENT_FROM_DATAFRAME(df_products, "products")

insert_statements_list = insert_statements_list[:1000:]

print(text_query)
print(len(insert_statements_list))

# from sqlalchemy import create_engine
# engine = create_engine(f"mysql://root:Qwerty123@localhost/youtube_db")

CREATE TABLE "products" (
"index" INTEGER,
  "product_id" TEXT,
  "product_name" TEXT,
  "category" TEXT,
  "sub_category" TEXT,
  "counts" INTEGER
)
1000

In [1364]:

sql = '''

        DROP TABLE IF EXISTS `products`;
        CREATE TABLE `products` (
          `product_id` varchar(45) NOT NULL,
          `product_name` varchar(255) DEFAULT NULL,
          `category` varchar(45) DEFAULT NULL,
          `sub_category` varchar(45) DEFAULT NULL,
          `counts` INT DEFAULT NULL,
          PRIMARY KEY (`product_id`)
        ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
        ''' + "; ".join(insert_statements_list)

with db.cursor(buffered=True, dictionary=True) as c: 
    print('qqq')
    executables = c.execute(sql, multi=True)
    _ = [item for item in executables]
    db.commit() 

print("cool!")

qqq

IntegrityError: 1062 (23000): Duplicate entry 'OFF-PA-10000477' for key 'products.PRIMARY'

### Table: products >

### < Table: orders

In [ ]:
def SQL_INSERT_STATEMENT_FROM_DATAFRAME(SOURCE, TARGET):
    sql_texts = []
    for index, row in SOURCE.iterrows():       
        sql_texts.append('INSERT INTO '+TARGET+' ('+ str(', '.join(SOURCE.columns))+ ') VALUES '+ str(tuple(row.values)))        
    return sql_texts

def SQL_CREATE_STATEMENT_FROM_DATAFRAME(SOURCE, TARGET):
    # SQL_CREATE_STATEMENT_FROM_DATAFRAME(SOURCE, TARGET)
    # SOURCE: source dataframe
    # TARGET: target table to be created in database

    sql_text = pd.io.sql.get_schema(SOURCE.reset_index(), TARGET)   
    return sql_text

user = 'root'
password = 'Qwerty123'
host = 'localhost'
database = 'superstore_db'

db = mysql.connector.connect(
    user=user,
    password=password,
    host=host,
    database=database
)

# from sqlalchemy import create_engine
# engine = create_engine(f"mysql://root:Qwerty123@localhost/youtube_db")

insert_statements_list = SQL_INSERT_STATEMENT_FROM_DATAFRAME(df_orders, "orders")
text_query = SQL_CREATE_STATEMENT_FROM_DATAFRAME(df_orders, "orders")

print(text_query)

insert_statements_list_1 = insert_statements_list[:2000:]

my_list = insert_statements_list 

sublists = [my_list[i:i+10] for i in range(0, len(my_list), 10)]


sql = '''
        SET FOREIGN_KEY_CHECKS = 0;
        DROP TABLE IF EXISTS `orders`;
        CREATE TABLE `orders` (
          `order_id` varchar(45) NOT NULL,
          `order_number` varchar(255) DEFAULT NULL,
          `order_date` timestamp DEFAULT NULL,
          `order_priority` varchar(45) DEFAULT NULL,
          `product_id` varchar(45) DEFAULT NULL,
          `quantity` INT DEFAULT NULL,
          `customer_id` varchar(45) DEFAULT NULL,
          `city` varchar(45) DEFAULT NULL,
          `region` varchar(45) DEFAULT NULL,
          `market_id` varchar(45) DEFAULT NULL,
          PRIMARY KEY (`order_id`)
        ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
        ''' + "; ".join(insert_statements_list)


with db.cursor(buffered=True, dictionary=True) as c: 
    executables = c.execute(sql, multi=True)
    _ = [item for item in executables]
    db.commit() 
print("cool!")

In [1372]:
my_list = insert_statements_list 

sublists = [my_list[i:i+1000] for i in range(0, len(my_list), 1000)]

In [1374]:
sublists

[["INSERT INTO orders (order_id, order_number, order_date, order_priority, product_id, quantity, customer_id, city, region, market_id) VALUES ('CA-2011-130813_1', 'CA-2011-130813', Timestamp('2011-01-07 00:00:00'), 'High', 'OFF-PA-10002005', 3, 'LS-172304', 'Los Angeles', 'West', 'US-1')",
  "INSERT INTO orders (order_id, order_number, order_date, order_priority, product_id, quantity, customer_id, city, region, market_id) VALUES ('CA-2011-148614_1', 'CA-2011-148614', Timestamp('2011-01-21 00:00:00'), 'Medium', 'OFF-PA-10002893', 2, 'MV-174854', 'Los Angeles', 'West', 'US-1')",
  "INSERT INTO orders (order_id, order_number, order_date, order_priority, product_id, quantity, customer_id, city, region, market_id) VALUES ('CA-2011-118962_1', 'CA-2011-118962', Timestamp('2011-08-05 00:00:00'), 'Medium', 'OFF-PA-10000659', 3, 'CS-121304', 'Los Angeles', 'West', 'US-1')",
  "INSERT INTO orders (order_id, order_number, order_date, order_priority, product_id, quantity, customer_id, city, region, market_id) VALUES ('CA-2011-118962_2', 'CA-2011-118962', Timestamp('2011-08-05 00:00:00'), 'Medium', 'OFF-PA-10001144', 2, 'CS-121304', 'Los Angeles', 'West', 'US-1')",
  "INSERT INTO orders (order_id, order_number, order_date, order_priority, product_id, quantity, customer_id, city, region, market_id) VALUES ('CA-2011-146969_1', 'CA-2011-146969', Timestamp('2011-09-29 00:00:00'), 'High', 'OFF-PA-10002105', 1, 'AP-109154', 'Los Angeles', 'West', 'US-1')",
  "INSERT INTO orders (order_id, order_number, order_date, order_priority, product_id, quantity, customer_id, city, region, market_id) VALUES ('CA-2011-117317_1', 'CA-2011-117317', Timestamp('2011-10-19 00:00:00'), 'Critical', 'OFF-PA-10004519', 3, 'JF-154904', 'Los Angeles', 'West', 'US-1')",
  "INSERT INTO orders (order_id, order_number, order_date, order_priority, product_id, quantity, customer_id, city, region, market_id) VALUES ('CA-2011-125829_1', 'CA-2011-125829', Timestamp('2011-11-04 00:00:00'), 'Medium', 'OFF-PA-10000223', 3, 'WB-218504', 'Los Angeles', 'West', 'US-1')",
  "INSERT INTO orders (order_id, order_number, order_date, order_priority, product_id, quantity, customer_id, city, region, market_id) VALUES ('CA-2011-151295_1', 'CA-2011-151295', Timestamp('2011-11-12 00:00:00'), 'High', 'OFF-PA-10001947', 2, 'JA-159704', 'Los Angeles', 'West', 'US-1')",
  "INSERT INTO orders (order_id, order_number, order_date, order_priority, product_id, quantity, customer_id, city, region, market_id) VALUES ('CA-2011-135090_1', 'CA-2011-135090', Timestamp('2011-11-22 00:00:00'), 'High', 'OFF-PA-10002245', 9, 'SP-209204', 'Los Angeles', 'West', 'US-1')",
  "INSERT INTO orders (order_id, order_number, order_date, order_priority, product_id, quantity, customer_id, city, region, market_id) VALUES ('CA-2011-133830_1', 'CA-2011-133830', Timestamp('2011-12-05 00:00:00'), 'Medium', 'OFF-PA-10001363', 4, 'RL-196154', 'Los Angeles', 'West', 'US-1')"],
 ["INSERT INTO orders (order_id, order_number, order_date, order_priority, product_id, quantity, customer_id, city, region, market_id) VALUES ('CA-2011-113579_1', 'CA-2011-113579', Timestamp('2011-12-13 00:00:00'), 'High', 'OFF-PA-10001457', 6, 'KD-163454', 'Los Angeles', 'West', 'US-1')",
  "INSERT INTO orders (order_id, order_number, order_date, order_priority, product_id, quantity, customer_id, city, region, market_id) VALUES ('CA-2012-116092_1', 'CA-2012-116092', Timestamp('2012-02-15 00:00:00'), 'Medium', 'OFF-PA-10004285', 2, 'JM-161954', 'Los Angeles', 'West', 'US-1')",
  "INSERT INTO orders (order_id, order_number, order_date, order_priority, product_id, quantity, customer_id, city, region, market_id) VALUES ('CA-2012-116092_2', 'CA-2012-116092', Timestamp('2012-02-15 00:00:00'), 'Medium', 'OFF-PA-10000477', 3, 'JM-161954', 'Los Angeles', 'West', 'US-1')",
  "INSERT INTO orders (order_id, order_number, order_date, order_priority, product_id, quantity, customer_id, city, region, market_id) VALUES ('CA-2012-121776_1', 'CA-2012-121776', Timestamp('2012-02-16 00:00:00'), 'High', 'OFF-PA-10001970', 3, 'RD-195854', 'Los Angeles', 'West', 'US-1')",
  "INSERT INTO orders (order_id, order_number, order_date, order_priority, product_id, quantity, customer_id, city, region, market_id) VALUES ('CA-2012-131534_1', 'CA-2012-131534', Timestamp('2012-03-28 00:00:00'), 'Medium', 'OFF-PA-10000743', 5, 'AB-101654', 'Los Angeles', 'West', 'US-1')",
  "INSERT INTO orders (order_id, order_number, order_date, order_priority, product_id, quantity, customer_id, city, region, market_id) VALUES ('US-2012-136987_1', 'US-2012-136987', Timestamp('2012-04-11 00:00:00'), 'Medium', 'OFF-PA-10003127', 2, 'AR-105404', 'Los Angeles', 'West', 'US-1')",
  "INSERT INTO orders (order_id, order_number, order_date, order_priority, product_id, quantity, customer_id, city, region, market_id) VALUES ('CA-2012-121965_1', 'CA-2012-121965', Timestamp('2012-06-19 00:00:00'), 'Medium', 'OFF-PA-10004355', 1, 'LH-171554', 'Los Angeles', 'West', 'US-1')",
  "INSERT INTO orders (order_id, order_number, order_date, order_priority, product_id, quantity, customer_id, city, region, market_id) VALUES ('CA-2012-112319_1', 'CA-2012-112319', Timestamp('2012-08-31 00:00:00'), 'High', 'OFF-PA-10003441', 9, 'AR-105104', 'Los Angeles', 'West', 'US-1')",
  "INSERT INTO orders (order_id, order_number, order_date, order_priority, product_id, quantity, customer_id, city, region, market_id) VALUES ('CA-2012-137708_1', 'CA-2012-137708', Timestamp('2012-11-22 00:00:00'), 'High', 'OFF-PA-10000176', 2, 'NG-184304', 'Los Angeles', 'West', 'US-1')",
  "INSERT INTO orders (order_id, order_number, order_date, order_priority, product_id, quantity, customer_id, city, region, market_id) VALUES ('CA-2012-137708_2', 'CA-2012-137708', Timestamp('2012-11-22 00:00:00'), 'High', 'OFF-PA-10000327', 10, 'NG-184304', 'Los Angeles', 'West', 'US-1')"],
 ["INSERT INTO orders (order_id, order_number, order_date, order_priority, product_id, quantity, customer_id, city, region, market_id) VALUES ('CA-2012-105347_1', 'CA-2012-105347', Timestamp('2012-11-24 00:00:00'), 'Medium', 'OFF-PA-10000675', 9, 'DP-130004', 'Los Angeles', 'West', 'US-1')",
  "INSERT INTO orders (order_id, order_number, order_date, order_priority, product_id, quantity, customer_id, city, region, market_id) VALUES ('CA-2012-153416_1', 'CA-2012-153416', Timestamp('2012-11-24 00:00:00'), 'Medium', 'OFF-PA-10002005', 3, 'TS-213404', 'Los Angeles', 'West', 'US-1')",
  "INSERT INTO orders (order_id, order_number, order_date, order_priority, product_id, quantity, customer_id, city, region, market_id) VALUES ('CA-2012-135545_1', 'CA-2012-135545', Timestamp('2012-11-24 00:00:00'), 'Medium', 'OFF-PA-10003892', 3, 'KM-167204', 'Los Angeles', 'West', 'US-1')",
  "INSERT INTO orders (order_id, order_number, order_date, order_priority, product_id, quantity, customer_id, city, region, market_id) VALUES ('CA-2012-158918_1', 'CA-2012-158918', Timestamp('2012-12-20 00:00:00'), 'Medium', 'OFF-PA-10004947', 4, 'AI-108554', 'Los Angeles', 'West', 'US-1')",
  "INSERT INTO orders (order_id, order_number, order_date, order_priority, product_id, quantity, customer_id, city, region, market_id) VALUES ('CA-2012-135580_1', 'CA-2012-135580', Timestamp('2012-12-30 00:00:00'), 'Medium', 'OFF-PA-10000595', 3, 'CL-125654', 'Los Angeles', 'West', 'US-1')",
  "INSERT INTO orders (order_id, order_number, order_date, order_priority, product_id, quantity, customer_id, city, region, market_id) VALUES ('US-2013-119270_1', 'US-2013-119270', Timestamp('2013-03-13 00:00:00'), 'Medium', 'OFF-PA-10004022', 2, 'SW-202454', 'Los Angeles', 'West', 'US-1')",
  "INSERT INTO orders (order_id, order_number, order_date, order_priority, product_id, quantity, customer_id, city, region, market_id) VALUES ('CA-2013-131380_1', 'CA-2013-131380', Timestamp('2013-03-29 00:00:00'), 'Critical', 'OFF-PA-10001243', 1, 'CC-122204', 'Los Angeles', 'West', 'US-1')",
  "INSERT INTO orders (order_id, order_number, order_date, order_priority, product_id, quantity, customer_id, city, region, market_id) VALUES ('CA-2013-130477_1', 'CA-2013-130477', Timestamp('2013-04-09 00:00:00'), 'High', 'OFF-PA-10002947', 3, 'LC-171404', 'Los Angeles', 'West', 'US-1')",
  "INSERT INTO orders (order_id, order_number, order_date, order_priority, product_id, quantity, customer_id, city, region, market_id) VALUES ('CA-2013-130477_2', 'CA-2013-130477', Timestamp('2013-04-09 00:00:00'), 'High', 'OFF-PA-10000019', 2, 'LC-171404', 'Los Angeles', 'West', 'US-1')",
  "INSERT INTO orders (order_id, order_number, order_date, order_priority, product_id, quantity, customer_id, city, region, market_id) VALUES ('CA-2013-163594_1', 'CA-2013-163594', Timestamp('2013-04-13 00:00:00'), 'Medium', 'OFF-PA-10000809', 3, 'JF-152954', 'Los Angeles', 'West', 'US-1')"],
 ["INSERT INTO orders (order_id, order_number, order_date, order_priority, product_id, quantity, customer_id, city, region, market_id) VALUES ('US-2013-115819_1', 'US-2013-115819', Timestamp('2013-04-20 00:00:00'), 'Medium', 'OFF-PA-10002377', 4, 'JO-152804', 'Los Angeles', 'West', 'US-1')",
  "INSERT INTO orders (order_id, order_number, order_date, order_priority, product_id, quantity, customer_id, city, region, market_id) VALUES ('CA-2013-111696_1', 'CA-2013-111696', Timestamp('2013-05-09 00:00:00'), 'High', 'OFF-PA-10002751', 3, 'TB-216254', 'Los Angeles', 'West', 'US-1')",
  "INSERT INTO orders (order_id, order_number, order_date, order_priority, product_id, quantity, customer_id, city, region, market_id) VALUES ('CA-2013-162733_1', 'CA-2013-162733', Timestamp('2013-05-12 00:00:00'), 'Medium', 'OFF-PA-10002751', 1, 'TT-210704', 'Los Angeles', 'West', 'US-1')",
  "INSERT INTO orders (order_id, order_number, order_date, order_priority, product_id, quantity, customer_id, city, region, market_id) VALUES ('CA-2013-133144_1', 'CA-2013-133144', Timestamp('2013-05-17 00:00:00'), 'Medium', 'OFF-PA-10004971', 3, 'DO-134354', 'Los Angeles', 'West', 'US-1')",
  "INSERT INTO orders (order_id, order_number, order_date, order_priority, product_id, quantity, customer_id, city, region, market_id) VALUES ('CA-2013-136994_1', 'CA-2013-136994', Timestamp('2013-05-28 00:00:00'), 'Medium', 'OFF-PA-10000575', 2, 'LS-172454', 'Los Angeles', 'West', 'US-1')",
  "INSERT INTO orders (order_id, order_number, order_date, order_priority, product_id, quantity, customer_id, city, region, market_id) VALUES ('CA-2013-134803_1', 'CA-2013-134803', Timestamp('2013-05-29 00:00:00'), 'Low', 'OFF-PA-10003790', 8, 'CL-125654', 'Los Angeles', 'West', 'US-1')",
  "INSERT INTO orders (order_id, order_number, order_date, order_priority, product_id, quantity, customer_id, city, region, market_id) VALUES ('CA-2013-113243_1', 'CA-2013-113243', Timestamp('2013-06-11 00:00:00'), 'Medium', 'OFF-PA-10003441', 5, 'OT-187304', 'Los Angeles', 'West', 'US-1')",
  "INSERT INTO orders (order_id, order_number, order_date, order_priority, product_id, quantity, customer_id, city, region, market_id) VALUES ('CA-2013-148593_1', 'CA-2013-148593', Timestamp('2013-06-17 00:00:00'), 'Medium', 'OFF-PA-10001776', 5, 'BD-113204', 'Los Angeles', 'West', 'US-1')",
  "INSERT INTO orders (order_id, order_number, order_date, order_priority, product_id, quantity, customer_id, city, region, market_id) VALUES ('CA-2013-123512_1', 'CA-2013-123512', Timestamp('2013-06-18 00:00:00'), 'Critical', 'OFF-PA-10001497', 4, 'MV-181904', 'Los Angeles', 'West', 'US-1')",
  "INSERT INTO orders (order_id, order_number, order_date, order_priority, product_id, quantity, customer_id, city, region, market_id) VALUES ('CA-2013-130029_1', 'CA-2013-130029', Timestamp('2013-07-04 00:00:00'), 'High', 'OFF-PA-10000552', 2, 'GT-147554', 'Los Angeles', 'West', 'US-1')"],
 ["INSERT INTO orders (order_id, order_number, order_date, order_priority, product_id, quantity, customer_id, city, region, market_id) VALUES ('CA-2013-135265_1', 'CA-2013-135265', Timestamp('2013-07-08 00:00:00'), 'Critical', 'OFF-PA-10002923', 1, 'CC-123704', 'Los Angeles', 'West', 'US-1')",
  "INSERT INTO orders (order_id, order_number, order_date, order_priority, product_id, quantity, customer_id, city, region, market_id) VALUES ('CA-2013-136021_1', 'CA-2013-136021', Timestamp('2013-08-15 00:00:00'), 'High', 'OFF-PA-10000551', 3, 'JM-155804', 'Los Angeles', 'West', 'US-1')",
  "INSERT INTO orders (order_id, order_number, order_date, order_priority, product_id, quantity, customer_id, city, region, market_id) VALUES ('CA-2013-167241_1', 'CA-2013-167241', Timestamp('2013-08-16 00:00:00'), 'Low', 'OFF-PA-10004911', 4, 'BD-113204', 'Los Angeles', 'West', 'US-1')",
  "INSERT INTO orders (order_id, order_number, order_date, order_priority, product_id, quantity, customer_id, city, region, market_id) VALUES ('US-2013-101497_1', 'US-2013-101497', Timestamp('2013-09-30 00:00:00'), 'High', 'OFF-PA-10000176', 1, 'PS-187604', 'Los Angeles', 'West', 'US-1')",
  "INSERT INTO orders (order_id, order_number, order_date, order_priority, product_id, quantity, customer_id, city, region, market_id) VALUES ('CA-2013-155033_1', 'CA-2013-155033', Timestamp('2013-10-08 00:00:00'), 'High', 'OFF-PA-10000143', 2, 'CC-124754', 'Los Angeles', 'West', 'US-1')",
  "INSERT INTO orders (order_id, order_number, order_date, order_priority, product_id, quantity, customer_id, city, region, market_id) VALUES ('US-2013-162026_1', 'US-2013-162026', Timestamp('2013-10-09 00:00:00'), 'Critical', 'OFF-PA-10000167', 2, 'JE-157454', 'Los Angeles', 'West', 'US-1')",
  "INSERT INTO orders (order_id, order_number, order_date, order_priority, product_id, quantity, customer_id, city, region, market_id) VALUES ('CA-2013-109365_1', 'CA-2013-109365', Timestamp('2013-11-04 00:00:00'), 'Medium', 'OFF-PA-10004359', 3, 'XP-218654', 'Los Angeles', 'West', 'US-1')",
  "INSERT INTO orders (order_id, order_number, order_date, order_priority, product_id, quantity, customer_id, city, region, market_id) VALUES ('CA-2013-109365_2', 'CA-2013-109365', Timestamp('2013-11-04 00:00:00'), 'Medium', 'OFF-PA-10001725', 3, 'XP-218654', 'Los Angeles', 'West', 'US-1')",
  "INSERT INTO orders (order_id, order_number, order_date, order_priority, product_id, quantity, customer_id, city, region, market_id) VALUES ('CA-2013-109365_3', 'CA-2013-109365', Timestamp('2013-11-04 00:00:00'), 'Medium', 'OFF-PA-10000477', 3, 'XP-218654', 'Los Angeles', 'West', 'US-1')",
  "INSERT INTO orders (order_id, order_number, order_date, order_priority, product_id, quantity, customer_id, city, region, market_id) VALUES ('CA-2013-158694_1', 'CA-2013-158694', Timestamp('2013-11-11 00:00:00'), 'High', 'OFF-PA-10002421', 3, 'AI-108554', 'Los Angeles', 'West', 'US-1')"],
 ["INSERT INTO orders (order_id, order_number, order_date, order_priority, product_id, quantity, customer_id, city, region, market_id) VALUES ('CA-2013-158694_2', 'CA-2013-158694', Timestamp('2013-11-11 00:00:00'), 'High', 'OFF-PA-10001363', 5, 'AI-108554', 'Los Angeles', 'West', 'US-1')",
  "INSERT INTO orders (order_id, order_number, order_date, order_priority, product_id, quantity, customer_id, city, region, market_id) VALUES ('CA-2014-149076_1', 'CA-2014-149076', Timestamp('2014-01-15 00:00:00'), 'Medium', 'OFF-PA-10000483', 5, 'SO-203354', 'Los Angeles', 'West', 'US-1')",
  "INSERT INTO orders (order_id, order_number, order_date, order_priority, product_id, quantity, customer_id, city, region, market_id) VALUES ('CA-2014-104647_1', 'CA-2014-104647', Timestamp('2014-02-24 00:00:00'), 'Medium', 'OFF-PA-10002870', 6, 'CK-125954', 'Los Angeles', 'West', 'US-1')",
  "INSERT INTO orders (order_id, order_number, order_date, order_priority, product_id, quantity, customer_id, city, region, market_id) VALUES ('CA-2014-128965_1', 'CA-2014-128965', Timestamp('2014-04-18 00:00:00'), 'Medium', 'OFF-PA-10004911', 3, 'PS-187604', 'Los Angeles', 'West', 'US-1')",
  "INSERT INTO orders (order_id, order_number, order_date, order_priority, product_id, quantity, customer_id, city, region, market_id) VALUES ('CA-2014-120222_1', 'CA-2014-120222', Timestamp('2014-04-26 00:00:00'), 'Medium', 'OFF-PA-10004675', 3, 'LL-168404', 'Los Angeles', 'West', 'US-1')",
  "INSERT INTO orders (order_id, order_number, order_date, order_priority, product_id, quantity, customer_id, city, region, market_id) VALUES ('CA-2014-147844_1', 'CA-2014-147844', Timestamp('2014-05-03 00:00:00'), 'Medium', 'OFF-PA-10003016', 5, 'DD-135704', 'Los Angeles', 'West', 'US-1')",
  "INSERT INTO orders (order_id, order_number, order_date, order_priority, product_id, quantity, customer_id, city, region, market_id) VALUES ('CA-2014-147844_2', 'CA-2014-147844', Timestamp('2014-05-03 00:00:00'), 'Medium', 'OFF-PA-10002713', 5, 'DD-135704', 'Los Angeles', 'West', 'US-1')",
  "INSERT INTO orders (order_id, order_number, order_date, order_priority, product_id, quantity, customer_id, city, region, market_id) VALUES ('US-2014-152002_1', 'US-2014-152002', Timestamp('2014-06-12 00:00:00'), 'Medium', 'OFF-PA-10000357', 3, 'DV-134654', 'Los Angeles', 'West', 'US-1')",
  "INSERT INTO orders (order_id, order_number, order_date, order_priority, product_id, quantity, customer_id, city, region, market_id) VALUES ('CA-2014-112753_1', 'CA-2014-112753', Timestamp('2014-06-19 00:00:00'), 'High', 'OFF-PA-10002036', 6, 'CC-126704', 'Los Angeles', 'West', 'US-1')",
  "INSERT INTO orders (order_id, order_number, order_date, order_priority, product_id, quantity, customer_id, city, region, market_id) VALUES ('US-2014-113201_1', 'US-2014-113201', Timestamp('2014-07-01 00:00:00'), 'Medium', 'OFF-PA-10000675', 5, 'TT-212204', 'Los Angeles', 'West', 'US-1')"],
 ["INSERT INTO orders (order_id, order_number, order_date, order_priority, product_id, quantity, customer_id, city, region, market_id) VALUES ('CA-2014-133718_1', 'CA-2014-133718', Timestamp('2014-07-24 00:00:00'), 'Critical', 'OFF-PA-10002689', 9, 'TB-215204', 'Los Angeles', 'West', 'US-1')",
  "INSERT INTO orders (order_id, order_number, order_date, order_priority, product_id, quantity, customer_id, city, region, market_id) VALUES ('CA-2014-105326_1', 'CA-2014-105326', Timestamp('2014-08-21 00:00:00'), 'Medium', 'OFF-PA-10001639', 4, 'KT-164804', 'Los Angeles', 'West', 'US-1')",
  "INSERT INTO orders (order_id, order_number, order_date, order_priority, product_id, quantity, customer_id, city, region, market_id) VALUES ('CA-2014-137498_1', 'CA-2014-137498', Timestamp('2014-09-10 00:00:00'), 'Medium', 'OFF-PA-10000143', 9, 'LC-170504', 'Los Angeles', 'West', 'US-1')",
  "INSERT INTO orders (order_id, order_number, order_date, order_priority, product_id, quantity, customer_id, city, region, market_id) VALUES ('US-2014-109582_1', 'US-2014-109582', Timestamp('2014-09-13 00:00:00'), 'Medium', 'OFF-PA-10004071', 3, 'JM-158654', 'Los Angeles', 'West', 'US-1')",
  "INSERT INTO orders (order_id, order_number, order_date, order_priority, product_id, quantity, customer_id, city, region, market_id) VALUES ('CA-2014-121853_1', 'CA-2014-121853', Timestamp('2014-09-24 00:00:00'), 'Medium', 'OFF-PA-10003641', 8, 'DB-136604', 'Los Angeles', 'West', 'US-1')",
  "INSERT INTO orders (order_id, order_number, order_date, order_priority, product_id, quantity, customer_id, city, region, market_id) VALUES ('US-2014-115595_1', 'US-2014-115595', Timestamp('2014-10-10 00:00:00'), 'Medium', 'OFF-PA-10001745', 5, 'XP-218654', 'Los Angeles', 'West', 'US-1')",
  "INSERT INTO orders (order_id, order_number, order_date, order_priority, product_id, quantity, customer_id, city, region, market_id) VALUES ('CA-2014-110842_1', 'CA-2014-110842', Timestamp('2014-11-12 00:00:00'), 'Medium', 'OFF-PA-10000520', 3, 'GA-147254', 'Los Angeles', 'West', 'US-1')",
  "INSERT INTO orders (order_id, order_number, order_date, order_priority, product_id, quantity, customer_id, city, region, market_id) VALUES ('US-2014-125808_1', 'US-2014-125808', Timestamp('2014-11-13 00:00:00'), 'High', 'OFF-PA-10001846', 2, 'EP-139154', 'Los Angeles', 'West', 'US-1')",

### Table: orders >

### < Table: markets

In [ ]:
def SQL_INSERT_STATEMENT_FROM_DATAFRAME(SOURCE, TARGET):
    sql_texts = []
    for index, row in SOURCE.iterrows():       
        sql_texts.append('INSERT INTO '+TARGET+' ('+ str(', '.join(SOURCE.columns))+ ') VALUES '+ str(tuple(row.values)))        
    return sql_texts

def SQL_CREATE_STATEMENT_FROM_DATAFRAME(SOURCE, TARGET):
    # SQL_CREATE_STATEMENT_FROM_DATAFRAME(SOURCE, TARGET)
    # SOURCE: source dataframe
    # TARGET: target table to be created in database

    sql_text = pd.io.sql.get_schema(SOURCE.reset_index(), TARGET)   
    return sql_text

user = 'root'
password = 'Qwerty123'
host = 'localhost'
database = 'superstore_db'

db = mysql.connector.connect(
    user=user,
    password=password,
    host=host,
    database=database
)

# from sqlalchemy import create_engine
# engine = create_engine(f"mysql://root:Qwerty123@localhost/youtube_db")

insert_statements_list = SQL_INSERT_STATEMENT_FROM_DATAFRAME(df_markets, "markets")
text_query = SQL_CREATE_STATEMENT_FROM_DATAFRAME(df_markets, "markets")

print(text_query)


# sql = '''
#         SET FOREIGN_KEY_CHECKS = 0;
#         DROP TABLE IF EXISTS `markets`;
#         CREATE TABLE `markets` (
#           `market_id` varchar(45) NOT NULL,
#           `market` varchar(255) DEFAULT NULL,
#           `country` varchar(45) DEFAULT NULL,
#           PRIMARY KEY (`market_id`)
#         ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
#         ''' + "; ".join(insert_statements_list)

# with db.cursor(buffered=True, dictionary=True) as c: 
#     executables = c.execute(sql, multi=True)
#     _ = [item for item in executables]
#     db.commit() 
# print("cool!")

### Table: markets >

### < Table: shipments

In [ ]:
def SQL_INSERT_STATEMENT_FROM_DATAFRAME(SOURCE, TARGET):
    sql_texts = []
    for index, row in SOURCE.iterrows():       
        sql_texts.append('INSERT INTO '+TARGET+' ('+ str(', '.join(SOURCE.columns))+ ') VALUES '+ str(tuple(row.values)))        
    return sql_texts

def SQL_CREATE_STATEMENT_FROM_DATAFRAME(SOURCE, TARGET):
    # SQL_CREATE_STATEMENT_FROM_DATAFRAME(SOURCE, TARGET)
    # SOURCE: source dataframe
    # TARGET: target table to be created in database

    sql_text = pd.io.sql.get_schema(SOURCE.reset_index(), TARGET)   
    return sql_text

user = 'root'
password = 'Qwerty123'
host = 'localhost'
database = 'superstore_db'

db = mysql.connector.connect(
    user=user,
    password=password,
    host=host,
    database=database
)

# from sqlalchemy import create_engine
# engine = create_engine(f"mysql://root:Qwerty123@localhost/youtube_db")

insert_statements_list = SQL_INSERT_STATEMENT_FROM_DATAFRAME(df_shipments, "shipments")
text_query = SQL_CREATE_STATEMENT_FROM_DATAFRAME(df_shipments, "shipments")

print(text_query)


# sql = '''
#         SET FOREIGN_KEY_CHECKS = 0;
#         DROP TABLE IF EXISTS `shipments`;
#         CREATE TABLE `shipments` (
#           `order_id` varchar(45) NOT NULL,
#           `ship_date` 
#           `ship_mode` varchar(255) DEFAULT NULL,
#           `ship_cost` 
#           `state` varchar(255) DEFAULT NULL,
#           PRIMARY KEY (`order_id`)
#         ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
#         ''' + "; ".join(insert_statements_list)

# with db.cursor(buffered=True, dictionary=True) as c: 
#     executables = c.execute(sql, multi=True)
#     _ = [item for item in executables]
#     db.commit() 
# print("cool!")

### Table: shipments >

### < Table: payments

In [ ]:
def SQL_INSERT_STATEMENT_FROM_DATAFRAME(SOURCE, TARGET):
    sql_texts = []
    for index, row in SOURCE.iterrows():       
        sql_texts.append('INSERT INTO '+TARGET+' ('+ str(', '.join(SOURCE.columns))+ ') VALUES '+ str(tuple(row.values)))        
    return sql_texts

def SQL_CREATE_STATEMENT_FROM_DATAFRAME(SOURCE, TARGET):
    # SQL_CREATE_STATEMENT_FROM_DATAFRAME(SOURCE, TARGET)
    # SOURCE: source dataframe
    # TARGET: target table to be created in database

    sql_text = pd.io.sql.get_schema(SOURCE.reset_index(), TARGET)   
    return sql_text

user = 'root'
password = 'Qwerty123'
host = 'localhost'
database = 'superstore_db'

db = mysql.connector.connect(
    user=user,
    password=password,
    host=host,
    database=database
)

# from sqlalchemy import create_engine
# engine = create_engine(f"mysql://root:Qwerty123@localhost/youtube_db")

insert_statements_list = SQL_INSERT_STATEMENT_FROM_DATAFRAME(df_payments, "payments")
text_query = SQL_CREATE_STATEMENT_FROM_DATAFRAME(df_payments, "payments")

print(text_query)


# sql = '''
#         SET FOREIGN_KEY_CHECKS = 0;
#         DROP TABLE IF EXISTS `payments`;
#         CREATE TABLE `payments` (
#           `order_id` varchar(45) NOT NULL,
#           `sales` 
#           `profit` 
#           `discount` 
#           PRIMARY KEY (`order_id`)
#         ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
#         ''' + "; ".join(insert_statements_list)

# with db.cursor(buffered=True, dictionary=True) as c: 
#     executables = c.execute(sql, multi=True)
#     _ = [item for item in executables]
#     db.commit() 
# print("cool!")

### Table: payments >